@charset "UTF-8";

// mixin //

@mixin box-sizing($box-sizing) {
  -moz-box-sizing: $box-sizing;
  -webkit-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}
@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}
@mixin transitionProperty($properties...) {
  -webkit-transition-property: $properties;
  -moz-transition-property: $properties;
  -o-transition-property: $properties;
  transition-property: $properties;
}
@mixin border-radius($rads...) {
  -moz-border-radius: $rads;
  -webkit-border-radius: $rads;
  border-radius: $rads;
}
@mixin transform($transform) {
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
/*
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin user-select($user-select) {
  -ms-user-select: $user-select;
  -moz-user-select: $user-select;
  -webkit-user-select: $user-select;
  user-select: $user-select;
}
@mixin transform-origin($transform-origins...) {
  -ms-transform-origin: $transform-origins;
  -moz-transform-origin: $transform-origins;
  -webkit-transform-origin: $transform-origins;
  -o-transform-origin: $transform-origins;
  transform-origin: $transform-origins;
}
@mixin column-count($column-count) {
  -webkit-column-count: $column-count;
  -moz-column-count: $column-count;
  column-count: $column-count;
}*/

/* ----------------------------------------------
 Connect fonts
 ---------------------------------------------- */

@font-face {
  font-family: 'Helveticaneuecyr-roman';
  src: url("fonts/helveticaneuecyr-roman.eot");
  src: url("fonts/helveticaneuecyr-roman.eot") format("embedded-opentype"), url("fonts/helveticaneuecyr-roman.woff") format("woff"), url("fonts/helveticaneuecyr-roman.ttf") format("truetype"), url("fonts/helveticaneuecyr-roman.svg#helveticaneuecyr-roman") format("svg");
}

@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url("fonts/HelveticaNeueCyr-Thin.eot");
  src: url("fonts/HelveticaNeueCyr-Thin.eot") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("fonts/HelveticaNeueCyr-Thin.ttf") format("truetype"), url("fonts/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin") format("svg");
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url("fonts/HelveticaNeueCyr-Medium.eot");
  src: url("fonts/HelveticaNeueCyr-Medium.eot") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium") format("svg");
}

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url("fonts/HelveticaNeue-Bold.eot");
  src: url("fonts/HelveticaNeue-Bold.eot") format("embedded-opentype"), url("fonts/helveticaneuecyr-bold.woff") format("woff"), url("fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url("fonts/HelveticaNeueCyr-Black.eot");
  src: url("fonts/HelveticaNeueCyr-Black.eot") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("fonts/HelveticaNeueCyr-Black.ttf") format("truetype"), url("fonts/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black") format("svg");;
}

@font-face {
  font-family: 'SpaceMono-Bold';
  src: url("fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceMono-Regular';
  src: url("fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/*Import fonts from Google fonts */
/*
@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic&subset=latin,cyrillic);
*/

// color and fonts variable //

$accent-color: #cc2051;

$helveticaneuecyr-roman: "Helveticaneuecyr-roman";
$helveticaNeueCyr-Thin: "HelveticaNeueCyr-Thin";
$helveticaNeueCyr-Medium: "HelveticaNeueCyr-Medium";
$helveticaNeueCyr-Bold: "HelveticaNeueCyr-Bold";
$helveticaNeueCyr-Black: "HelveticaNeueCyr-Black";
$spaceMono-Bold: "SpaceMono-Bold";
$spaceMono-Regular: "SpaceMono-Regular";

/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
  padding: 0;
  margin: 0 auto;
  @include box-sizing(border-box);
}

/* ----------------------------------------------
 Main
 ---------------------------------------------- */

html, body, section, .container {
  width: 100%;
}
body {
  min-width: 320px;
  font: 16px $helveticaneuecyr-roman;
  color: #000;
  background-color: #fff;
}
section {
  position: relative;
}
.container {
  position: relative;
  max-width: 1920px;
  padding: 0 50px;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
.main-page {
  font: 25px $spaceMono-Bold;
  color: #fff;
  .page-wrap {
    background: url("../img/main_bg_1.jpg") no-repeat 0 0/cover;
  }
}

.accent {
  color: $accent-color;
}


/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */

h1 {
  margin: 0;
  font: 178px $helveticaneuecyr-roman;
}
h2 {
  font: 142px $helveticaNeueCyr-Thin;
}
h3 {
  font: 85px $helveticaNeueCyr-Medium;
}
h4 {
  font: 45px $helveticaNeueCyr-Medium;
}
h5 {
  font: 35px $helveticaNeueCyr-Medium;
}


/* ----------------------------------------------
 Links Img
 ---------------------------------------------- */

a {
  color:inherit;
  text-decoration: none;
}
ul {
  padding: 0;
  li {
    list-style: none;
  }
}
img {
  max-width: 100%;
}

/* ----------------------------------------------
 Form Buttons Inputs
 ---------------------------------------------- */

.scroll-down {
  position: absolute;
  display: block;
  width: 30px;
  height: 34px;
  left: 50%;
  bottom: 46px;
  margin-left: -13px;
  &::after, &::before {
    content: '';
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    left: 3px;
    top: -7px;
    border-top: 2px solid #5b5958;
    border-right: 2px solid #5b5958;
    @include transform(rotate(135deg));
  }
  &::after {
    top: 10px;
    border-color: #fff;
  }
}

/* ----------------------------------------------
 Grid Of Website
 ---------------------------------------------- */

$col:100/12;



/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */

a, .btn {
  @include transition(all 0.2s ease-in-out 0s);
}

/* ----------------------------------------------
 Header
 ---------------------------------------------- */
.header-wrap {
  position: relative;
  height: 130px;
}
header {
  position: absolute;
  width: 100%;
  padding: 40px 0 50px;
  top: 0;
  left: 0;
}
.logo {
  display: block;
  float: left;
  width: 205px;
  height: 40px;
  background: url("../img/logo_1.png") no-repeat center/cover;
}
.main-menu, .secondary-menu {
  float: right;
  font: 18px $spaceMono-Bold;
  text-transform: uppercase;
  li {
    float: left;
    margin: 0 20px;
    line-height: 40px;
    &:hover, &.active {
      > a {
        color: $accent-color;
        &:after {
          border-top-color: $accent-color;;
        }
      }
    }
    a {
      padding-right: 20px;
      letter-spacing: 3px;
    }
    &:last-child {
      margin-right: 0;
      a {
        padding-right: 0;
      }
    }
  }
}
.secondary-menu {
  .dropdown.active {
    margin-bottom: 25px;
  }
}
.dropdown {
  a {
    position: relative;
    &:after {
      content: ' ';
      position: absolute;
      right: 3px;
      bottom: 0;
      border: transparent 4px solid;
      border-top-color: #fff;
      @include transition(all 0.2s ease-in-out 0s);
    }
  }
}
.submenu {
  display: none;
  float: left;
  width: 100%;
  text-align: center;
  clear: both;
  li {
    position: relative;
    float: left;
    width: 25%;
    height: 256px;
    padding: 30px 0;
    border-top: 1px solid #363432;
    border-bottom: 1px solid #363432;
    z-index: 10;
    + li {
      margin-left: -1px;
    }
    &:hover {
      z-index: 11;
      .menu-info {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    border-left: 1px solid #363432;
    border-right: 1px solid #363432;
    .submenu-title {
      margin-top: 10px;
    }
  }
}
.menu-info {
  position: absolute;
  width: 100%;
  height: inherit;
  top: -1px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  padding: 30px 0;
  font: 21px $spaceMono-Regular;
  background-color: #2e2c2a;
  @include transition(all 0.4s ease-in-out 0s);
  .submenu-title {
    margin-bottom: 20px;
  }
}
.submenu-title {
  display: block;
  font-size: 25px;
}

.active-menu {
  height: auto;
  min-height: 130px;
  header {
    background-color: #2a2826;
    position: static;
    height: inherit;
  }
}
.inner-content .active-menu header {
  background-color: #fff;
}

/* ----------------------------------------------
 Footer
 ---------------------------------------------- */
footer {
  padding-bottom: 45px;
}

.footer-content {
  padding: 30px 0 0 26px;
  margin-left: -26px;
  border-top: 1px solid #c8c8c8;
  > div {
    float: left;
  }
  .logo {
    float: none;
    margin: 0 0 145px;
  }
  .footer-menu {
    float: right;
  }
}
.copyright {
  color: rgba(0, 0, 0, 0.4);
}
.footer-submenu {
  margin-top: 10px;
  font: 18px $spaceMono-Regular;
  li {
    float: none;
    margin: 0;
    text-transform: none;
  }
}

/* ----------------------------------------------
 Sections
 ---------------------------------------------- */

.grid-slider {
  float: left;
  width: 11%*$col;
  margin: 0;
  h2 {
    margin: 20px 0 65px;
  }
}
.grid-line {
  height: 76px;
  overflow: hidden;
  > div {
    float: left;
    width: (100%/24);
    min-width: 48px;
    height: inherit;
    min-height: 48px;
    text-transform: uppercase;
  }
  .accent {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #cc2051;
      @include border-radius(50%);
      opacity: 0.4;
    }
  }
  .dot-right:after {
    top: 18px;
    right: 28px;
  }
  .dot-bottom:after {
    top: 55px;
    left: 4px;
  }
  .dot-none:after {
    display: none;
  }
}


/*inner*/

.pageheader {
  color: #fff;
  h1 {
    padding: 180px 0 35px;
    margin-bottom: 135px;
    border-bottom: 1px solid #595755;
  }
}
.pageheader-content {
  padding-left: 155px;
  font: 33px $helveticaNeueCyr-Thin;
  > div {
    float: left;
    width: 860px;
    margin-bottom: 170px;
  }
  p {
    padding: 35px 30px 0 350px;
    line-height: 40px;
  }
}
.category {
  position: absolute;
  bottom: 55px;
  right: -800px;
  width: 180px;
  padding-top: 40px;
  font: 15px $spaceMono-Regular;
  li {
    position: relative;
    @include transition(margin-left 0.2s ease-in-out);
    margin-left: 0;
    margin-bottom: 10px;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      top: 50%;
      right: 0;
      background-color: #fff;
      @include border-radius(50%);
    }
  }
  .slick-active {
    margin-left: -20px;
    color: $accent-color;
    &:after {
      background-color: $accent-color !important;
    }
  }
}



.inner-content {
  h4 {
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 25px;
    line-height: 24px;
  }
  .dropdown a::after {
    border-top-color: #000;
  }
  header {
    position: relative;
  }
  .header-wrap {
    margin-bottom: 30px;
    &.active-menu {
      height: auto;
    }
  }
  .submenu {
    color: #fff;
    background-color: #2a2826;
  }
}
.grey-block {
  position: relative;
  min-height: 643px;
  padding-right: 50px;
  margin-right: -50px;
  background-color: #f7f7f7;
  h3 {
    margin-bottom: 65px;
  }
  > div {
    float: left;
    width: 76%;
    min-height: inherit;
    padding: 55px 0 0 270px;
    background-color: #f0f0f0;
    > div {
      width: 710px;
      margin: 0;
    }
  }
  p {
    padding-left: 50px;
  }
  .category {
    top: 220px;
    right: -430px;
    li:after {
      background-color: #000;
    }
    /*.slick-active {
      margin-left: -20px;
      color: $accent-color;
      &:after {
        background-color: $accent-color;
      }
    }*/
  }
}

.column-block {
  min-height: 520px;
  padding: 100px 0 0 270px;
  > div {
    float: left;
    width: 510px;
    padding-right: 20px;
    margin-right: 10px;
    &:last-child {
      padding-left: 35px;
    }
  }
}

.photo-block {
  padding: 70px 0 0 95px;
}

.text-block {
  padding: 80px 0 80px 270px;
  > div {
    width: 1000px;
    margin: 0;
  }
  ol {
    margin-left: 30px;
    li {
      margin-bottom: 12px;
      list-style-position: inside;
      font: 17px $spaceMono-Bold;
      color: #c61f4e;
      span {
        font: 16px $helveticaneuecyr-roman;
        color: #000;
      }
    }
  }
}

.photo-text-block {
  max-width: 1460px;
  padding-left: 95px;
  padding-bottom: 35px;
  margin: 0;
  h5 {
    margin-bottom: 20px;
    line-height: 25px;
  }
  > div {
    margin-bottom: 57px;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  .text-right {
    > div {
      float: right;
      width: 510px;
      margin-right: 170px;
    }
    .inner-photo {
      float: left;
      margin-right: 50px;
    }
  }
  .text-left {
    > div {
      float: left;
      width: 460px;
      margin-left: 170px;
    }
    .inner-photo {
      float: right;
      margin-left: 50px;
    }
  }
  .inner-photo {
    width: 632px !important;
    height: 300px;
  }
}

.bottom-block {
  max-width: 1365px;
  padding: 20px 0 80px;
  margin-left: 95px;
  border-top: 2px solid #e5e5e5;
  > div {
    width: 100%;
    height: 400px;
    padding: 75px 0 0 170px;
    color: #fff;
    background: url("../img/inner_bg_2.jpg") no-repeat center/cover;
    div {
      width: 885px;
      margin: 0;
    }
  }
}


/* ----------------------------------------------
 Colors Backgrounds
 ---------------------------------------------- */
.logo-2 {
  background: url("../img/logo_2.png") no-repeat center/cover;
}
.logo-3 {
  background: url("../img/logo_3.png") no-repeat center/cover;
}
.pageheader {
  background: url("../img/inner_bg_1.jpg") no-repeat center/cover;
}
.icon-chat-big {
  float: left;
  width: 303px;
  height: 226px;
  margin-right: 55px;
  background: url("../img/icon_chat_big.png") no-repeat center/contain;
}


/*Js classes*/

.grid-slider {
  .slick-prev, .slick-next {
    right: -100px;
    &::before {
      width: 35px;
      height: 35px;
      top: 20px;
      border-top: 3px solid #fff;
      border-right: 3px solid #fff;
      @include transform(rotate(135deg));
    }
    &:hover::before {
      border-color: $accent-color;
    }
  }
  .slick-prev {
    top: 50px;
    left: auto;
    &::before {
      left: 12px;
      @include transform (rotate(315deg));
    }
  }
  .slick-next {
    top: 150px;
    &::before {
      top: 0;
      right: 12px;
    }
  }
  .slick-dots li button::before {
    color: #fff;
    opacity: 1;
  }
  .slick-dots li.slick-active button::before {
    color: #4f4d4b;
  }
  .slick-dots li {
    display: block;
  }
  .slick-dots {
    width: auto;
    left: auto;
    right: -85px;
    bottom: 50px;
  }
}
.grid-slider-index {
  position: absolute;
  top: 190px;
  right: 50px;
  font: 558px $helveticaNeueCyr-Bold;
  color: rgba(255, 255, 255, 0.039);
}
.secondary-pageheader-slider-index {
  position: absolute;
  top: 0;
  left: 1000px;
  font: 303px $helveticaNeueCyr-Black;
  color: rgba(0, 0, 0, 0.078);
  line-height: normal !important;
  z-index: 2;
}
.secondary-pageheader-slider .slide {
  position: relative;
}
.photo-block-slider {
  img {
    margin: 0;
  }
  .slick-prev, .slick-next {
    height: 40px;
    top: -30px;
    color: #ccc;
    &::before {
      width: 60px;
      top: 0;
      font-size: 56px;
      line-height: 30px;
      border: none;
      @include transform(rotate(0deg));
    }
  }
  .slick-prev {
    left: 170px;
    &::before {
      content: '\2190';
      left: 0;
    }
  }
  .slick-next{
    right: auto;
    left: 320px;
    &::before {
      content: '\2192';
      right: 0;
    }
  }
}
.photo-block-slider-counter {
  padding-left: 260px;
  font: 17px $spaceMono-Regular;
  color: #c8c8c8;
  line-height: 60px;
}


/*Scroll up button*/
#scrollUp {
  position: fixed;
  width: 44px;
  height: 36px;
  background-color: transparent;
  border: 1px solid #000;
  box-sizing: border-box;
  @include border-radius(5px);
  right: 10px;
  bottom: -40px;
  display: none;
  @include transition(0.2s ease-in-out);
  @include transitionProperty(background, border);
  cursor: pointer;
  z-index: 20;
  &:hover {
    border-color: $accent-color;
    background: $accent-color; //darken($accent-color, 20%);
    .upButton {
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
    }
  }
  .upButton {
    @include transition(border 0.2s ease-in-out);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -4px;
    opacity: 1;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    @include transform(rotate(45deg));
  }
}

/*Mobile*/
.mobile-nav {
  display: none;
}
.mobile-menu {
  padding: 0;
  background-color: transparent;
  width: 100%;
  top: 0;
  display: none;
  z-index: 50;
}
.menu-button {
  float: right;
  cursor: pointer;
  padding: 0;
}
.hamburger {
  padding: 9px 15px;
  background-color: transparent;
  width: 70px;
  margin: 0;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  position: relative; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
}
#secondary-hamburger .hamburger-inner, #secondary-hamburger .hamburger-inner::before, #secondary-hamburger .hamburger-inner::after {
  background-color: #000;
}

.hamburger-inner {
  &::before, &::after {
    content: "";
    display: block; }
  &::before {
    top: -10px; }
  &::after {
    bottom: -10px; }
}

.hamburger--collapse {
  .hamburger-inner {
    top: auto;
    bottom: 0;
    @include transition(transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19));
    &::after {
      top: -20px;
      @include transition(top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear);
    }
    &::before {
      @include transition(top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19));
    }
  }
}

.active.hamburger--collapse .hamburger-inner {
  @include transform(translate3d(0, -10px, 0) rotate(-45deg));
  @include transition(transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1));
}
.active.hamburger--collapse .hamburger-inner::after {
  top: 0;
  opacity: 0;
  @include transition(top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear)
}
.active.hamburger--collapse .hamburger-inner::before {
  top: 0;
  @include transform(rotate(-90deg));
  @include transition(top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1));
}


/* ----------------------------------------------
 Media
 ---------------------------------------------- */

/* Large devices */

@media (max-width:1919px) {
  .container {
    max-width: 1366px;
  }
  h1 {
    font-size: 125px;
  }
  h2 {
    font-size: 103px;
  }
  header {
    padding-top: 20px;
  }
  .container {
    padding: 0 20px;
  }
  .main-page {
    font-size: 18px;
  }
  .logo {
    width: 150px;
    height: 30px;
  }
  .main-menu,.secondary-menu {
    font-size: 13px;
    li {
      margin: 0 15px;
      a {
        letter-spacing: 1px;
      }
    }
  }
  .content__block h2 {
    margin: 0 0 55px;
  }
  .grid-line {
    height: 48px;
    .dot-right::after {
      top: 25%;
    }
    .dot-bottom::after {
      top: 75%;
    }
  }
  .pageheader-content {
    padding-left: 90px;
    font-size: 27px;
    > div {
      width: 665px;
      margin-bottom: 155px;
    }
    p {
      padding-top: 25px;
      padding-left: 273px;
      line-height: 33px;
    }
  }
  .icon-chat-big {
    width: 233px;
    height: 150px;
    margin-right: 40px;
  }
  .pageheader h1 {
    padding: 20px 0 50px 20px;
    margin-bottom: 115px;
  }
  .category {
    right: -570px;
    bottom: 30px;
    li::after {
      right: 5px;
    }
  }
  .grey-block {
    padding-right: 20px;
    margin-right: -20px;
    > div {
      padding-left: 50px;
      > div {
        width: 643px;
      }
    }
    p {
      padding-left: 60px;
    }
    .category {
      top: 210px;
      right: -310px;
    }
  }
  .inner-content .header-wrap {
    height: 105px;
    margin-bottom: 0;
  }
  .column-block {
    padding-left: 50px;
    .column-block > div {
      padding-right: 60px;
      &:last-child {
        padding-left: 0;
      }
    }
  }
  .photo-block {
    padding: 110px 0 0;
    > div {
      width: 1030px;
      margin: 0;
    }
  }
  .photo-block-slider {
    .slick-prev {
      left: 50px;
    }
    .slick-next {
      left: 200px;
    }
  }
  .photo-block-slider-counter {
    padding-left: 140px;
  }
  .text-block {
    padding-left: 50px;
    > div {
      width: 880px;
    }
  }
  .photo-text-block {
    max-width: 1030px;
    padding-left: 50px;
    > div {
      margin-bottom: 30px;
    }
    .text-right > div {
      width: 465px;
      margin-right: 0;
    }
    .text-left > div {
      margin-left: 0;
    }
    .inner-photo {
      width: 462px !important;
      overflow: hidden;
      img {
        max-width: 632px;
      }
    }
  }
  .bottom-block {
    max-width: 1025px;
    margin-left: 0;
    > div {
      padding-left: 50px;
    }
  }
  .footer-content {
    padding-left: 0;
    margin-left: 0;
    .logo {
      margin-bottom: 90px;
    }
  }
  .footer-menu {
    margin-right: 50px;
    li {
      margin: 0 30px;
    }
  }
  .footer-submenu li {
    margin: 0;
    font-size: 13px;
    line-height: 30px;
  }
  .grid-slider {
    .slick-prev, .slick-next {
      right: -80px;
      &::before {
        width: 25px;
        height: 25px;
      }
    }
    .slick-prev {
      top: 30px;
      &::before {
        left: 17px;
      }
    }
    .slick-next {
      top: 110px;
      &::before {
        right: 15px;
      }
    }
    .slick-dots {
      right: -65px;
      bottom: 25px;
    }
  }
  .grid-slider-index {
    font-size: 403px;
    top: 130px;
    right: 20px;
  }
  .secondary-pageheader-slider-index {
    left: 710px;
  }
}

/* Medium devices */
@media (max-width:1365px) {
  .container {
    max-width: 1024px;
  }
  h1 {
    font-size: 92px;
  }
  h2 {
    font-size: 73px;
  }
  .content__block h2 {
    margin-top: 20px;
  }
  .pageheader-content {
    padding-left: 40px;
    font-size: 22px;
    h1 {
      padding-top: 50px;
      padding-left: 0;
    }
    p {
      padding-left: 210px;
      line-height: 26px;
    }
    > div {
      width: 530px;
      margin-bottom: 190px;
    }
  }
  .icon-chat-big {
    width: 165px;
    height: 123px;
  }
  .category {
    right: -410px;
    bottom: 0;
  }
  .grey-block {
    padding: 0;
    margin: 0 -20px;
    > div {
      float: none;
      width: 100%;
      padding-left: 20px;
    }
    p {
      padding-left: 50px;
    }
  }
  .column-block {
    padding-left: 5px;
    > div {
      width: 50%;
      padding-right: 30px;
      margin-right: 0;
      &:last-child {
        padding-left: 25px;
      }
    }
  }
  .photo-block {
    margin: 0 -20px;
    > div {
      width: 100%;
    }
  }
  .photo-block-slider {
    .slick-prev {
      left: 20px;
    }
    .slick-next {
      left: 170px;
    }
  }
  .photo-block-slider-counter {
    padding-left: 110px;
  }
  .text-block {
    padding-left: 5px;
    ol {
      margin-left: 20px;
    }
  }
  .photo-text-block {
    padding-left: 5px;
  }
  .bottom-block {
    margin-left: 5px;
  }
  .footer-content {
    margin-right: -20px;
  }
  .footer-menu {
    margin-right: 20px;
    li {
      margin: 0 15px;
    }
  }
  .footer-submenu li {
    margin: 0;
  }
  .grid-slider {
    .slick-prev, .slick-next {
      right: -40px;
    }
    .slick-dots {
      right: -27px;
    }
  }
  .grid-slider-index {
    top: 110px;
    right: 30px;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
  .desktop-menu {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  h1 {
    font-size: 100px;
  }
  h3 {
    font-size: 74px;
  }
  .content__block {
    h2 {
      margin-bottom: 70px;
    }
  }
  .grid-line {
    > div {
      padding-left: 20px;
    }
    .dot-right::after {
      right: -4px;
    }
    .dot-bottom::after {
      left: 50%;
    }
  }
  .pageheader-content {
    padding-left: 0;
    font-size: 26px;
    h1 {
      padding-bottom: 75px;
      margin-bottom: 65px;
    }
    p {
      padding-right: 150px;
      padding-left: 5px;
      margin-top: 25px;
      line-height: 30px;
    }
    > div {
      width: 70%;
      margin-bottom: 155px;
    }
    .category {
      right: -220px;
      bottom: 20px;
    }
  }
  .icon-chat-big {
    float: none;
    margin: 0;
  }
  .grey-block {
    h3 {
      margin-top: 10px;
    }
    p {
      padding-left: 5px;
    }
    > div > div {
      width: 540px;
    }
  }
  .column-block {
    min-height: 590px;
    > div:last-child {
      padding-left: 20px;
      padding-right: 10px;
    }
  }
  .photo-block {
    padding-top: 80px;
    img {
      max-width: 1023px;
      height: 500px;
    }
  }
  .text-block > div {
    width: 100%;
  }
  .photo-text-block {
    h5 {
      line-height: normal;
    }
    .text-right .inner-photo {
      margin-right: 40px;
    }
    .text-left .inner-photo {
      margin-left: 40px;
    }
    .text-right > div, .text-left > div {
      width: 338px;
    }
    .inner-photo {
      width: 338px !important;
      img {
        max-width: 463px;
      }
    }
  }
  .bottom-block > div {
    height: auto;
    padding: 65px 40px;
    div {
      width: 100%;
    }
  }
  .footer-content {
    margin-right: 0;
    > div {
      width: 100%;
      margin: 0;
    }
    .logo, .copyright {
      float: left;
    }
    .logo {
      margin: 60px 50px 0 0;
    }
    .copyright {
      margin-top: 60px;
      line-height: 30px;
    }
  }
  .footer-menu {
    margin-right: 5px;
    li {
      margin: 0;
      font-size: 16px;
      + li {
        margin-left: 37px;
      }
    }
  }
  .footer-submenu li + li {
    margin: 0;
  }
  .grid-slider {
    width: 100%;
    padding-bottom: 150px;
    .slick-prev, .slick-next {
      right: auto;
      left: 20px;
      top: auto;
    }
    .slick-prev {
      bottom: 50px;
    }
    .slick-next {
      bottom: -20px;
    }
    .slick-dots {
      right: 15px;
      bottom: 40px;
    }
  }
  .grid-slider-index {
    top: 190px;
    right: 20px;
  }
  .active-menu {
    .logo {
      display: none;
    }
  }
  .main-menu,.secondary-menu {
    float: none;
  }
  .submenu {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 5;
    img {
      height: 100px;
    }
    li {
      width: 50%;
      height: 180px;
      padding: 20px 0;
      margin: 0;
      line-height: 20px;
    }
    a .submenu-title {
      margin-top: 0;
    }
  }
  .submenu-title {
    font-size: 16px;
  }
  .menu-info {
    font-size: 14px;
  }
  .secondary-pageheader-slider-index {
    left: 590px;
    top: 20px;
    font-size: 223px;
  }
}

/* Small devices */
@media (max-width: 767px) {
  .container {
    max-width: 480px;
  }
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 60px;
  }
  header {
    padding-bottom: 30px;
  }
  .content__block h2 {
    margin: 0 0 50px;
  }
  .pageheader-content {
    h1 {
      padding: 0 0 38px;
      margin-bottom: 40px;
    }
    p {
      padding-right: 120px;
      margin-top: 10px;
    }
    > div {
      width: 100%;
      margin-bottom: 145px;
    }
    .category {
      display: none;
    }
  }
  .grey-block {
    > div {
      padding: 190px 20px 70px;
      > div {
        width: 100%;
      }
    }
  }
  .column-block {
    padding-top: 90px;
    > div {
      float: none;
      width: 100%;
      &:last-child {
        padding-left: 0;
        margin-top: 50px;
      }
    }
  }
  .photo-block img {
    max-width: 737px;
    height: 360px;
  }
  .text-block {
    padding-top: 70px;
    padding-bottom: 50px;
    ol {
      margin-left: 0;
    }
  }
  .photo-text-block {
    .inner-photo {
      width: 100% !important;
      margin: 0 !important;
      img {
        max-width: 590px;
      }
    }
    .text-right > div, .text-left > div {
      width: 100%;
      margin-top: 15px;
    }
  }
  .bottom-block {
    padding-top: 0;
    margin: 0 -20px;
  }
  .main-menu,.secondary-menu {
    font-size: 25px;
    > li {
      width: 70%;
      line-height: 60px;
    }
  }
  .footer-menu {
    li {
      width: auto;
      font-size: 20px;
    }
    li + li {
      margin-left: 60px;
    }
    .main-menu > li:nth-child(3){
      margin-left: 0;
    }
  }
  .footer-submenu {
    min-height: 230px;
    li {
      margin: 10px 0 !important;
      line-height: 40px;
    }
  }
  .footer-content .copyright {
    margin-top: 30px;
  }
  .grid-slider {
    padding-bottom: 80px;
    .slick-prev {
      bottom: -20px;
    }
    .slick-next {
      left: 100px;
      bottom: -23px;
    }
    .slick-dots {
      right: 10px;
      bottom: 25px;
      li {
        display: inline-block;
      }
    }
  }
  .submenu {
    position: static;
  }
  .grid-slider-index {
    top: 210px;
    font-size: 310px;
  }
  .secondary-pageheader-slider-index {
    left: 15px;
    top: 10px;
    font-size: 163px;
  }
}

/* Extra small devices */

@media (max-width: 479px) {
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 30px;
  }
  .pageheader-content > div {
    width: 100%;
  }
  .footer-menu {
    .main-menu > li {
        width: 100%;
    }
    li + li {
      margin-left: 0;
    }
  }
  .footer-submenu {
    min-height: 100px;
    margin-bottom: 30px;
  }
}