@charset "UTF-8";
// mixin //

@mixin box-sizing($box-sizing) {
  -moz-box-sizing: $box-sizing;
  -webkit-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}
@mixin border-radius($rads...) {
  -moz-border-radius: $rads;
  -webkit-border-radius: $rads;
  border-radius: $rads;
}
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}
@mixin transform($transform) {
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
@mixin animation-delay($animation-delay) {
  -webkit-animation-delay: $animation-delay;
  animation-delay: $animation-delay;
}
@mixin animation-name($animation-name) {
  -webkit-animation-name: $animation-name;
  animation-name: $animation-name;
}

/* ----------------------------------------------
 Connect fonts
 ---------------------------------------------- */

/* font-family: "CuprumRegular"; */
@font-face {
  font-family: "CuprumRegular";
  src: url("../fonts/Cuprum-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "CuprumBold"; */
@font-face {
  font-family: "CuprumBold";
  src: url("../fonts/Cuprum-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "CuprumItalic"; */
@font-face {
  font-family: "CuprumItalic";
  src: url("../fonts/Cuprum-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "CuprumBoldItalic"; */
@font-face {
  font-family: "CuprumBoldItalic";
  src: url("../fonts/Cuprum-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "IsadoraBold"; */
@font-face {
  font-family: "Isadora";
  src: url("../fonts/PG_ISADO.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
}

// color and fonts variable //

$cuprum-reg: "CuprumRegular";
$cuprum-bold: "CuprumBold";
$cuprum-italic: "CuprumItalic";
$cuprum-bolditalic: "CuprumBoldItalic";
$isadora: "Isadora";

$main-red: #901416;
$main-grey: #515151;
$header-grey: #333;
$text-grey: #666;
$footer-text: #dfc1c1;
$order-text: #4b4b4b;
$title-brown: #634747;
$btn-call: #903f41;
$btn-hover-bg: #c23436;
$border-input: #cab3a3;

/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
  padding: 0;
  margin: 0 auto;
}

/* ----------------------------------------------
 Main
 ---------------------------------------------- */

html, body {
  height: auto;
}
html, body, .wrapper {
  width: 100%;
  min-width: 1024px;
}
.thanks-page {
  height: 100%;
}
body {
  position: relative;
  float: left;
  font: 14px Arial, sans-serif;
  background-color: #fff;
}
.wrapper {
  position: relative;
  float: left;
  overflow: hidden;
}
header, footer, section {
  width: 1024px;
  min-width: 1024px;
  position: relative;
}
.clear {
  clear: both;
}
.active {
  background-color: #c23436;
}
.hidden {
  display: none !important;
}
div#jivo-iframe-container { /* fix mmenu frame */
  left: -999999px;
}
/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */

h2 {
  font: 36px $cuprum-reg;
  color: $main-grey;
  text-align: center;
}
h3 {
  margin: 4px 0 7px 2px;
  font: 24px $cuprum-reg;
}
sup {
  font-size: 8px;
  letter-spacing: normal;
}

/* ----------------------------------------------
 Form Buttons Inputs Links Img
 ---------------------------------------------- */

a, .btn, .submit {
  cursor: pointer;
}
a {
  text-decoration: none;
}
a.fancybox-close {
  opacity: 0.8;
}
a.mob-call {
  color: #00E;
}
li {
  list-style-type: none;
}
.btn {
  height: 35px;
  display: block;
  font: 17px/35px $cuprum-reg;
  color: #fffefe;
  text-align: center;
  text-transform: uppercase;
  background-color: $btn-call;
  @include border-radius(5px);
}
.btn-call {
  width: 190px;
  margin: 10px 0 0 3px;
}
.btn-request {
  width: 174px;
  margin-top: 8px;
}
input {
  width: 357px;
  height: 39px;
  padding-left: 16px;
  margin-bottom: 7px;
  background-color: #fff;
  border: 2px solid $border-input;
  @include border-radius(5px);
  @include box-sizing(border-box);
  &:focus {
    border-color: #845636;
  }
}
.submit {
  width: 356px;
  height: 50px;
  padding-left: 0;
  margin: 10px 0 12px;
  display: block;
  font: 24px $cuprum-bold;
  color: #fff;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  background-color: $main-red;
  border: none;
  @include border-radius(6px);
}

/* button scroll up */
#scrollUp {
  position: fixed;
  opacity: 0.8;
  background: $main-red;
  @include border-radius(5px);
  right: 10px;  bottom: -40px;
  display: none;
  cursor: pointer;
  z-index: 20;
}
.upButton {
  padding: 10px 15px;
  opacity: 1;
  display: block;
  color: #fff;
}

/* ----------------------------------------------
 Animation
 ---------------------------------------------- */
.animated {
  @include animation-delay(0.3s);
}
.delay-01s {
  @include animation-delay(0.1s);
}
.delay-02s {
  @include animation-delay(0.2s);
}
.delay-04s {
  @include animation-delay(0.4s);
}
.delay-05s {
  @include animation-delay(0.5s);
}
.delay-08s {
  @include animation-delay(0.8s);
}
/* ----------------------------------------------
 Header
 ---------------------------------------------- */

header {
  height: 126px;
  padding: 15px 0;
  overflow-y: hidden;
  @include box-sizing(border-box);
  div {
    float: left;
  }
}
.logo {
  a {
    width: 235px;
    height: 81px;
    margin-top: 4px;
    display: block;
    font: 22px/25px $cuprum-reg;
    color: $text-grey;
    span {
      padding-left: 14px;
    }
    i {
      margin-top: 6px;
      margin-left: -4px;
      display: block;
      font: 36px/28px $isadora;
      color: $main-red;
      span {
        padding-right: 3px;
        float: right;
      }
    }
  }
}
.text-header {
  margin: 22px 49px 0 53px;
  font: 24px $cuprum-bold;
  color: $header-grey;
  text-align: center;
  i {
    padding-top: 10px;
    margin-left: -4px;
    display: block;
    font: 17px $cuprum-italic;
  }
}
.schedule {
  font: 14px $cuprum-reg;
  color: $header-grey;
  p, .big {
    font-size: 16px;
  }
  p.title {
    width: 96px;
    padding-bottom: 2px;
    margin-bottom: 4px;
    border-bottom: 3px double #acacac;
  }
  p.big {
    padding: 1px 0 1px 18px;
  }
  span, p.big {
    font-family: $cuprum-bold;
  }
  .big {
    letter-spacing: 0.5px;
  }
}
.contacts {
  width: 193px;
  margin: -9px 0 0 38px;
  position: absolute;
  right: 0;
  font: 26px $cuprum-bold;
  text-align: center;
  i {
    font: 17px $cuprum-italic;
  }
}
.mob-call {
  display: none;
}

/* ----------------------------------------------
 Footer
 ---------------------------------------------- */

footer {
  height: 192px;
  padding: 30px 0 20px;
  @include box-sizing(border-box);
  div {
    float: left;
  }
  p, .text-footer, .schedule, .contacts i, a {
    color: $footer-text;
  }
  p, .text-footer {
    a {
      text-decoration: underline;
    }
  }
  p.develop {
    margin: 22px 12px 0 0;
    font-size: 12px;
    text-align: left;
    padding-left: 320px;
  }
  .schedule p.title {
    border-bottom-color: #ae8888;
  }
  .contacts {
    margin-left: 67px;
    color: #fff;
  }
}
.logo-footer {
  a span, a i {
    color: $footer-text;
  }
}
.text-footer {
  padding-top: 8px;
  margin: 0 50px 0 85px;
  font-size: 18px;
  line-height: 24px;
  a {
    font-size: 13px;
  }
}
.questions {
  padding-left: 110px;
  height: 141px;
  font: 60px/141px $cuprum-reg;
  color: #523d3d;
  text-transform: uppercase;
  a {
    padding-bottom: 4px;
    position: relative;
    bottom: 10px;
    left: 21px;
    font: 20px Arial, sans-serif;
    color: #845636;
    text-transform: none;
    border-bottom: 1px dashed #845636;
  }
}

/* ----------------------------------------------
 Navigation
 ---------------------------------------------- */

.bg-nav > div{
  display: none;
 }

#m-menu:not(.mm-menu) {
  display: none;
}
#m-menu .logo a {
  font: 14px/17px "CuprumRegular";
  margin: 0 auto;
  i {
    font: 28px/20px "Isadora";
    text-align: left;
  }
}

 .menu {
   height: 51px;
   margin: 20px 12px 21px;
   position: relative;
   overflow: hidden;
   border-top: 1px solid #ba9f9e;
   border-bottom: 1px solid #ba9f9e;
   z-index: 20;
   li {
     height: 49px;
     display: inline-block;
     a {
       padding: 15px 9px 13px;
       display: block;
       font: 17px $cuprum-reg;
       color: #fff;
       &:hover {
         color: #cf9b99;
       }
     }
   }
 }
.ornament {
  width: 1024px;
  height: 92px;
  position: absolute;
  top: -20px;
  background: url("../images/sprite.png") no-repeat 484px -219px;
}
#topMenu {
  height: 92px;
  position: absolute;
  top: 126px;
  z-index: 6;
}
.after-top-menu {
  margin-top: 92px;
}
/* ----------------------------------------------
Orders
---------------------------------------------- */

.order {
  height: 546px;
  font-size: 10px;
  color: $order-text;
  text-align: right;
  b {
    padding-right: 5px;
    display: block;
    font-size: 18px;
    span {
      padding-right: 6px;
    }
  }
  i {
    font-size: 16px;
    padding-right: 5px;
  }
  p:last-child {
    letter-spacing: -0.3px;
  }
}
.slogan {
  padding: 20px 0 22px;
  font: 38px/46px $cuprum-bold;
  span {
    padding-right: 12px;
  }
}
.order-2 {
  height: 570px;
  color: #c5c7ca;
  i {
    color: #a44749;
  }
  .slogan {
    padding-top: 55px;
  }
  .order-form {
    margin-top: 21px;
  }
}
.order-form {
  width: 434px;
  height: 274px;
  margin: 31px 10px 0 0;
  float: right;
  color: $order-text;
  text-align: center;
  background-color: #e1d0c4;
  border: 5px solid #bba18e;
  @include box-shadow(inset 1px 1.732px 3px 0 rgba(0, 3, 1, 0.294));
  .form-title {
    height: 56px;
    display: block;
    font: 20px/46px $cuprum-bold;
    padding: 0 5px;
    background: url("../images/sprite.png") no-repeat 35px -126px;
  }
}
form {
  width: 357px;
  margin-top: 3px;
  text-align: left;
  p {
    padding-left: 10px;
    font-size: 13px;
  }
  span {
    margin-left: -4px;
    color: #d41f22;
  }
}

/* ----------------------------------------------
Repair
---------------------------------------------- */

.repair-clothes {
  height: 456px;
  h2 {
    padding: 52px 0;
  }
}
.container {
  font: 18px $cuprum-reg;
  p {
    margin-top: 27px;
    color: $text-grey;
    @include transition(all 0.5s ease-in-out);
  }
  div {
    width: 216px;
    position: relative;
    float: left;
    text-align: center;
    @include transition(all 0.3s ease-in-out);
  }
  div + div {
    margin-left: 45px;
  }
  div:first-child {
    padding-left: 12px;
  }
  img {
    position: relative;
    display: block;
    z-index: 2;
  }
  .top {
    width: 206px;
    height: 226px;
    position: absolute;
    display: block;
    top: -10px;
    right: 10px;
    border: 5px solid rgba(240, 231, 225, 0.6);
    z-index: 3;
  }
  .bottom {
    width: 206px;
    height: 226px;
    position: absolute;
    display: block;
    top: 10px;
    right: -10px;
    border: 5px solid #917e7e;
    z-index: 1;
  }
}

/* ----------------------------------------------
Services
---------------------------------------------- */

.our-services {
  height: 450px;
  h2 {
    padding: 24px 0 51px;
  }
}

/* ----------------------------------------------
Exclusive-services
---------------------------------------------- */

.excl-services {
  height: 465px;
  h2 {
    padding: 33px 0 51px;
  }
  .container {
    div {
      width: 262px;
    }
    div:first-child {
      margin-left: 130px;
    }
    div + div {
      margin-left: 216px;
    }
  }
  .top, .bottom {
    width: 252px;
  }
}

/* ----------------------------------------------
Problems
---------------------------------------------- */

.m-problems {
  height: 639px;
  h2 {
    padding: 41px 0 52px;
    color: #654949;
  }
  h3 {
    color: $main-red;
  }
}
.column {
  width: 50%;
  float: left;
  @include box-sizing(border-box);
  p {
    margin-bottom: 17px;
    color: $header-grey;
  }
}
.c-pd-t {
  padding-top: 344px;
}
.pd-l {
  padding-left: 12px;
}
.icon {
  width: 49px;
  height: 38px;
  margin-left: 0;
  background: url("../images/sprite.png") no-repeat;
}
.red-1 {
  background-position: -224px 0;
}
.red-2 {
  background-position: -168px 0;
}
.red-3 {
  background-position: -112px 0;
}
.red-4 {
  background-position: -56px 0;
}
.red-5 {
  background-position: 0 0;
}

/* ----------------------------------------------
We-make
---------------------------------------------- */

.make {
  height: 684px;
  h2 {
    padding: 52px 0;
  }
  h2, h3 {
    color: #654949;
  }
}
.c-pd-t-m {
  padding-top: 245px;
}
.brown-1 {
  background-position: 0 -56px;
}
.brown-2 {
  background-position: -56px -56px;
}
.brown-3 {
  background-position: -112px -56px;
}
.brown-4 {
  background-position: -168px -56px;
}
.brown-5 {
  background-position: -224px -56px;
}
.brown-6 {
  background-position: -280px -56px;
}

/* ----------------------------------------------
Scheme-work
---------------------------------------------- */

.work-top {
  height: 106px;
  h2 {
    line-height: 110px;
  }
}
.work {
  height: 604px;
  text-align: center;
  p {
    font: 18px/26px $cuprum-reg;
    color: $main-grey;
  }
  span {
    font: 30px $cuprum-bold;
    color: #611512;
  }
}
.bg-scheme {
  width: 652px;
  height: 421px;
  top: 75px;
  right: 176px;
  background: url("../images/schemeOfWork.png") no-repeat;
}
.work-block {
  position: absolute;
}
.wb-1 {
  top: 231px;
  left: 26px;
}
.wb-2 {
  top: 8px;
  left: 308px;
}
.wb-3 {
  top: 7px;
  left: 568px;
}
.wb-4 {
  top: 231px;
  left: 846px;
}
.wb-5 {
  top: 492px;
  left: 577px;
}
.wb-6 {
  top: 492px;
  left: 307px;
}

/* ----------------------------------------------
Trust
---------------------------------------------- */

.trust-us {
  height: 490px;
  h2 {
    padding: 42px 0 50px;
  }
  i {
    font: 20px $cuprum-bolditalic;
  }
  .top, .bottom {
    width: 436px;
  }
  .container {
    div {
      width: 446px;
    }
    div:first-child {
      margin-left: 20px;
    }
    div + div {
      margin-left: 68px;
    }
    p {
      line-height: 26px;
    }
  }
}

/* ----------------------------------------------
Reviews
---------------------------------------------- */

.reviews-client {
  height: 823px;
  h2 {
    padding: 42px 0 50px;
    color: #fff;
  }
  .block {
    height: 370px;
  }
  .block-2 {
    height: 319px;
  }
  .container {
    font: 14px Arial, sans-serif;
  }
  .empty {
    height: 20px;
    line-height: 20px;
    padding-top: 20px;
    display: block;
  }
  .rev {
    width: 215px;
    margin-left: 40px;
    text-align: left;
    p {
      padding-bottom: 8px;
      margin-top: -14px;
      font: 20px $cuprum-bolditalic;
      color: #fff;
    }
    i {
      color: #e9d8d7;
      line-height: 18px;
      letter-spacing: -0.2px;
    }
  }
  .rev-2 {
    margin: 0;
    text-align: right;
  }
}

/* ----------------------------------------------
Our-works
---------------------------------------------- */

.our-product-top {
  height: 95px;
  h2 {
    line-height: 107px;
  }
}
.our-product {
  height: 500px;
  width: 100%;
  max-width: 1980px;
  .top {
    width: 200%;
    height: 100%;
    top: 35px;
    right: 807px;
    border-color: #e1d0c4;
  }
  .bottom {
    width: 200%;
    height: 100%;
    top: 55px;
    right: 777px;
    border-color: $title-brown;
  }
}

.l-box {
  width: 100%;
  height: 294px;
  position: relative;
  top: 88px;
  z-index: 5;
  div {
    margin: 10px;
  }
}

/* ----------------------------------------------
Consultation
---------------------------------------------- */

.consultation {
  height: 525px;
  padding-left: 14px;
  @include box-sizing(border-box);
  .block {
    width: 50%;
    float: left;
  }
  .cons-p {
    padding-top: 29px;
    font: 38px $cuprum-bold;
    color: $main-red;
  }
  li {
    padding: 13px 0;
    font-size: 18px;
    list-style: disc inside;
    b {
      margin-left: -5px;
    }
  }
  .slogan{
    padding: 3px 0 11px;
    font: 36px $cuprum-bold;
    color: $header-grey;
  }
  .order-form {
    height: 298px;
    margin: 41px 60px 0 0;
    p:last-child {
      font-size: 10px;
      color: $order-text;
      letter-spacing: -0.3px;
    }
  }
  form {
    margin-top: 0;
  }
  .form-title {
    height: 79px;
    padding-top: 5px;
    font: 20px $cuprum-bold;
    background-position: 35px -103px;
    span {
      font-size: 24px;
      line-height: 34px;
    }
  }
}
.cons-title {
  padding-top: 32px;
  font: 38px $cuprum-bold;
  color: $title-brown;
  text-transform: uppercase;
}
.arrow {
  width: 160px;
  height: 80px;
  position: absolute;
  top: 419px;
  right: 465px;
  background: url("../images/sprite.png") no-repeat 0 -392px;
  z-index: 3;
}

/* ----------------------------------------------
Contacts
---------------------------------------------- */

.our-contacts {
  height: 630px;
  h2 {
    line-height: 128px;
  }
  .top {
    width: 314px;
    height: 320px;
    top: 175px;
    right: 93px;
    border-color: rgba(225, 208, 196, 0.9);
  }
  .bottom {
    width: 314px;
    height: 320px;
    top: 195px;
    right: 73px;
    border-color: $title-brown;
  }
}
.info {
  width: 324px;
  height: 330px;
  padding: 25px 0 0 40px;
  top: 185px;
  right: 83px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.949);
  @include box-sizing(border-box);
  z-index: 2;
  h3 {
    padding-bottom: 10px;
    margin-top: 0;
    color: $title-brown;
  }
  p {
    margin-top: 15px;
    font: 18px $cuprum-reg;
  }
  span {
    padding-top: 7px;
    display: block;
    line-height: 18px;
  }
  b {
    padding-top: 2px;
    padding-bottom: 1px;
    display: block;
    font-size: 24px;
    color: $text-grey;
    line-height: 24px;
  }
  i {
    line-height: 32px;
  }
}
.info-text {
  background-color: transparent;
  z-index: 5;
}
.map {
  width: 100%;
  height: 525px;
  position: absolute;
  top: 105px;
  z-index: 1;
}

/* ----------------------------------------------
Thanks-page
---------------------------------------------- */

.thanks-content {
  min-height: 450px;
  height: 100%;
  margin-bottom: -192px; /*высота футера*/
  padding: 126px 0 192px;
  @include box-sizing(border-box);
  .bg-order-1 {
    background-size: cover;
    height: 100%;
  }
}
.thanks {
  height: inherit;
  div {
    width: 510px;
    height: 120px;
    margin-top: -60px;
    position: relative;
    top: 50%;
    right: -219px;
    text-align: center;
  }
  h2 {
    padding-bottom: 22px;
    font: 38px $cuprum-bold;
    color: #6e4947;
  }
  b {
    padding-left: 11px;
    color: #4a4a4a;
  }
}

/* ----------------------------------------------
 Colors Backgrounds
 ---------------------------------------------- */

.bg-repair, .bg-exclusive-services, .bg-scheme-work-top, .bg-trust, .bg-our-works-top, .bg-contacts, .bg-footer-top {
  background-color: #fff;
}
.bg-header, .bg-services, .bg-scheme-work, .bg-our-works {
  background: url("../images/atelierPinkTopBG.jpg");
}
.bg-nav {
  background: url("../images/atelierBrownTopMenuBG.jpg");
  z-index: 6;
}
.bg-order-1 {
  background: url("../images/ladyBG1.jpg") no-repeat center top;
  background-size : cover;
}
.bg-order-2 {
  background: url("../images/ladyBG2.jpg") no-repeat center top;
  background-size : cover;
}
.bg-problems {
  background: url("../images/ladyBG3.jpg") no-repeat center top;
  background-size : cover;
}
.bg-make {
  background: url("../images/ladyBG4.jpg") no-repeat center top;
  background-size : cover;
}
.bg-order-3 {
  background: url("../images/ladyBG5.jpg") no-repeat center top;
  background-size : cover;
}
.bg-reviews {
  background: url("../images/furCoatBG.jpg");
  background-size : cover;
}
.bg-consultation {
  background: url("../images/ladyBG6.jpg") no-repeat center top;
  background-size : cover;
}
.bg-footer {
  background-color: #664c4c;
}
.red {
  color: $main-red;
}

/* ----------------------------------------------
Slider
---------------------------------------------- */

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

// Variables

$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../images/" !default;
$slick-arrow-color: #cf9b99 !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return slick-image-url($url);
  }
  @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return slick-font-url($url);
  }
  @else {
    @return url($slick-font-path + $url);
  }
}

/* Slider */

.slick-list {
  .slick-loading & {
    background: #fff slick-image-url("ajax-loader.gif") center no-repeat;
  }
}

/* Icons */

@if $slick-font-family == "slick" {
  @font-face {
    font-family: "slick";
    src: slick-font-url("slick.eot");
    src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 70px;
  width: 70px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: 35px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 6;
  &:focus {
    outline: none;
    background: transparent;
    color: transparent;
    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }
  &.slick-disabled:before {
    opacity: $slick-opacity-not-active;
  }
}

.slick-prev:before, .slick-next:before {
  font-family: $slick-font-family;
  font-size: 70px;
  line-height: 1;
  color: $slick-arrow-color;
  opacity: $slick-opacity-default;
  -webkit-font-smoothing: antialiased;
}

.slick-prev {
  left: 25px;
  [dir="rtl"] & {
    left: auto;
    right: 25px;
  }
  &:before {
    content: $slick-prev-character;
    [dir="rtl"] & {
      content: $slick-next-character;
    }
  }
}

.slick-next {
  right: 25px;
  [dir="rtl"] & {
    left: 25px;
    right: auto;
  }
  &:before {
    content: $slick-next-character;
    [dir="rtl"] & {
      content: $slick-prev-character;
    }
  }
}

/* Dots */

.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:focus {
        outline: none;
        &:before {
          opacity: $slick-opacity-on-hover;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: $slick-dot-character;
        width: 20px;
        height: 20px;
        font-family: $slick-font-family;
        font-size: $slick-dot-size;
        line-height: 20px;
        text-align: center;
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;
        -webkit-font-smoothing: antialiased;
      }
    }
    &.slick-active button:before {
      color: $slick-dot-color-active;
      opacity: $slick-opacity-default;
    }
  }
}


/* ----------------------------------------------
Pop up
---------------------------------------------- */

.call-b {
  margin-left: -222px;
  margin-top: -152.5px;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 100;
  p:last-child {
    font-size: 10px;
    color: $header-grey;
    letter-spacing: -0.3px;
  }
}
.ask-q {
  width: 578px;
  height: 341px;
  margin-left: -289px;
  margin-top: -170.5px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  p:last-child {
    font-size: 10px;
    color: $header-grey;
    letter-spacing: -0.3px;
  }
  form {
    width: 498px;
    text-align: center;
    div {
      float: left;
      text-align: left;
    }
    div + div {
      margin-left: 20px;
    }
  }
  input {
    width: 239px;
  }
  textarea {
    width: 239px;
    height: 164px;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 7px;
    background-color: #FFF;
    border: 2px solid $border-input;
    @include border-radius(5px);
    @include box-sizing(border-box);
  }
  .submit {
    width: 356px;
    text-align: center;
    margin: 10px auto 12px;
    float: none;
  }
  .form-title {
    background-position: 107px -126px;
  }
}
.close {
  position: absolute;
  top: -24px;
  right: -25px;
  a{
    width: 26px;
    height: 26px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #4b4b4b;
    line-height: 26px;
    background-color: #e09d9e;
    @include  border-radius(50%);
  }
}
.form-success {
  border-color: green !important;
}
.form-fail {
  border-color: red !important;
}
.pop-up-wrap {
  top:0;
  position: fixed;
  width:100%;
  min-height:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  display: none;
  z-index: 99;
}

/* ----------------------------------------------
Media queries
---------------------------------------------- */

@media screen and (min-width: 1070px) {
  a.fancybox-close:hover {
      opacity: 1;
  }
  .btn:hover {
    background-color: $btn-hover-bg;
  }
  .btn-call:hover {
    color: #fff;
  }
  .submit:hover {
    background-color: $btn-hover-bg;
  }
  p.develop a:hover {
    color: #cf9b99;
  }
  .text-footer a:hover {
    color: #cf9b99;
  }
  .questions a:hover {
    color: #cf9b99;
  }
  .container div:hover {
    @include transform(scale(1.2));
    z-index: 5;
    p {
      margin-top: 15px;
    }
  }
  .reviews-client .container div:hover p {
          margin-top: -14px;
  }
  .slick-prev,
  .slick-next {
    &:hover {
      outline: none;
      background: transparent;
      color: transparent;
      &:before {
        opacity: $slick-opacity-on-hover;
      }
    }
  }
  .slick-dots li button:hover {
    outline: none;
    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }
  .close a:hover {
    background-color: $btn-hover-bg;
  }
}

@media screen and (max-width: 1069px) {
  html, body, .wrapper, header, footer, section {
    min-width: 800px;
  }
  header, footer, section {
    width: 800px;
  }
  h3 {
    font-size: 22px;
  }
  .logo a {
    width: 180px;
    height: 70px;
    margin-top: 14px;
    margin-left: 10px;
    font: 14px/17px "CuprumRegular";
    i {
      font: 28px/20px "Isadora";
    }
  }
  .text-header {
    margin: 22px 20px 0;
    font-size: 20px;
    i {
      font-size: 14px;
    }
  }
  .contacts {
    width: 160px;
    margin: 0;
    right: 10px;
    font-size: 20px;
    i {
      font-size: 14px;
    }
  }
  .btn-call {
    width: 160px;
  }
  .bg-nav section {
    display: none;
  }
  .bg-nav > div {
    display: block;
    a {
      width: 46px;
      height: 46px;
      margin-left: 10px;
      display: block;
      float: left;
      background: url("../images/menu-button.png") no-repeat center;
    }
  }
  #topMenu {
    height: 46px;
  }
  .after-top-menu {
    margin-top: 46px;
  }
  .order {
    padding-right: 10px;
    @include box-sizing(border-box);
  }
  .repair-clothes, .our-services {
    height: 800px;
    padding: 0 100px;
    @include box-sizing(border-box);
  }
  .excl-services {
    padding: 0 50px;
    @include box-sizing(border-box);
  }
  .container div {
    margin-bottom: 40px;
    &:hover p {
      margin-top: 27px;
    }
    &:nth-child(even) {
      margin-right: 12px;
      float: right;
    }
    &:nth-child(odd) {
      padding-left: 12px;
    }
  }
  .container div + div {
    margin-left: 0;
  }
  .excl-services .container div.scroll {
    margin-left: 0;
  }
  .m-problems, .make {
    h2 {padding-bottom: 40px;
      font-size: 30px;
    }
  }
  .m-problems, .make {
    br {display: none;}
  }
  .column {
    padding: 0 12px;
  }
  .c-pd-t{
    padding-top: 372px;
    ul {
      padding-left: 12px;
    }
  }
  .c-pd-t-m {
    padding-top: 265px;
  }
  .bg-scheme {
    width: 490px;
    height: 316px;
    right: 155px;
    background-size: cover;
  }
  .work {
    height: 500px;
    p {font-size: 16px;}
    span {font-size: 24px;}
  }
  .wb-1 {
    top: 180px;
    left: 10px;
  }
  .wb-2 {
    left: 230px;
  }
  .wb-3 {
    top: 8px;
    left: 425px;
  }
  .wb-4 {
    left: 646px;
    top: 180px;
  }
  .wb-5 {
    top: 400px;
    left: 440px;
  }
  .wb-6 {
    top: 400px;
    left: 230px;
  }
  .btn-request {
    width: auto;
  }
  .trust-us {
    height: auto;
    .container div.scroll {
      margin: 0 auto 40px;
      float: none;
    }
  }
  .reviews-client {
    padding: 0 120px;
    @include box-sizing(border-box);
    .container {
      div + div {
        display: none;
      }
      .rev {
        display: block;
      }
      div:hover p {
        margin-top: -14px;
      }
    }
    .block-2 .container div:last-child {
      display: block;
    }
  }
  .our-product {
    .top {
      right: 700px;
    }
    .bottom {
      right: 670px;
    }
  }
  .cons-title {
    font-size: 32px;
  }
  .consultation {
    .slogan {
      font-size: 30px;
    }
    .order-form {
      margin-right: 10px;
    }
    .block {
      width: 330px;
    }
    .cons-p {
      font-size: 32px;
    }
  }
  .arrow {
    right: 425px;
  }
  .questions {
    font-size: 44px;
  }
  .text-footer {
    margin: 0 30px;
    font-size: 16px;
  }
  footer p.develop {
    padding-left: 220px;
  }
  .thanks div {
    right: 0;
    float: right;
  }
  /* swich-off animation */
  .animated.bounceInLeft, .animated.bounceInRight, .animated.fadeInLeft, .animated.fadeInLeftBig, .animated.fadeInRight,
  .animated.fadeInRightBig, .animated.fadeInUp, .animated.flipInY, .animated.lightSpeedIn, .animated.zoomIn,
  .animated.slideInLeft {
    @include animation-name(none);
  }
}

@media screen and (max-width: 799px) {
  header, footer, section {
    width: 100%;
    max-width: 650px;
  }
  html, body, .wrapper, header, footer, section {
    min-width: 550px;
  }
  h2 {
    font-size: 30px;
  }
  .text-header {
    display: none;
  }
  .repair-clothes, .our-services {
    padding: 0 20px;
  }
  .schedule {
    padding-right: 200px;
    float: right;
  }
  .none {
    display: none;
  }
  .ask-q .form-title {
    background-position: 66px -126px;
  }
  .excl-services  {
    height: auto;
    padding: 0 10px;
    .container div.scroll {
      margin: 0 auto 40px;
      float: none;
    }
  }
  .column {
    width: 100%;
    padding: 0 20px;
    ul {
      padding-left: 12px;
    }
  }
  .c-pd-t, .c-pd-t-m {
    padding-top: 0;
  }
  .work {
    height: auto;
    padding-bottom: 20px;
    @include box-sizing(border-box);
  }
  .work-block {
    max-width: 180px;
    height: 90px;
    padding: 75px 0 0 130px;
    position: static;
    text-align: left;
    background: url("../images/sprite.png") no-repeat;
  }
  .bg-scheme {
    display: none;
  }
  .wb-1 {
    margin-top: -15px;
    background-position: 0px -575px;
    p {
      margin-top: -20px;
    }
  }
  .wb-2 {
    background-position: 0px -824px;
  }
  .wb-3 {
    background-position: 0px -1048px;
  }
  .wb-4 {
    background-position: 0px -1272px;
    p {
      margin-top: -20px;
    }
  }
  .wb-5 {
    background-position: 0px -1496px;
  }
  .wb-6 {
    background-position: 0px -1720px;
  }
  .btn-request {
    max-width: 210px;
    margin-left: 0;
  }
  .trust-us .container div.scroll {
    padding-left: 0;
  }
  .reviews-client {
    height: auto;
    padding: 0 20px;
  }
  .our-product {
    height: 400px;
  }
  .l-box {
    top: 0;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .consultation {
    height: 800px;
    padding: 0 10px;
    .cons-title, .slogan {
      text-align: center;
    }
    .block {
      float: none;
    }
    .slogan, .cons-p  {
      font-size: 24px;
    }
    .cons-p {
      padding-top: 10px;
    }
    li {
      padding: 8px 0;
    }
    .arrow {
      display: none;
    }
    .order-form {
      margin: 20px auto 0;
      float: none;
    }
  }
  .our-contacts {
    max-width: 550px;
    height: 1000px;
    .top, .bottom {
      width: 290px;
    }
    .top {
      top: 640px;
      right: 138px;
    }
    .bottom {
      top: 660px;
      right: 123px;
    }
  }
  .info {
    top: 650px;
    right: 133px;
  }
  .info-text {
    right: 123px;
  }
  .questions {
    padding-left: 0;
    font-size: 34px;
    text-align: center;
  }
  footer {
    height: auto;
    padding: 30px 20px 20px;
    p.develop {
      padding: 0 80px 32px 0;
      text-align: right;
    }
  }
  .thanks-page .text-footer {
    display: none;
  }
  .text-footer {
    margin: 0;
    position: absolute;
    bottom: 47px;
    p {
      display: none;
    }
  }
  .bg-order-1 {
    background-image: url("../images/ladyBG1W800C50.jpg");
  }
  .bg-order-2 {
    background-image: url("../images/ladyBG2W800C50.jpg");
  }
  .bg-problems {
    background-image: url("../images/ladyBG3W800C50.jpg");
  }
  .bg-make {
    background-image: url("../images/ladyBG4W800C70.jpg");
  }
  .bg-order-3 {
    background-image: url("../images/ladyBG5W800C50.jpg");
  }
  .bg-reviews {
    background-image: url("../images/furCoatBGW800.jpg");
  }
  .bg-consultation {
    background-image: url("../images/ladyBG6W800C50.jpg");
  }
  .pop-up-wrap {
    max-width: 100%;
  }
  .ask-q {
    width: 500px;
    margin-left: -255px;
  }
  .thanks div {
    float: none;
  }
}

@media screen and (max-width: 600px) {

  .mob-call {
    display: block;
  }
  .contacts p, .info-text b {
    display: none;
  }
  section .order-form {
    margin: 31px auto 0;
    float: none;
  }
  .consultation .submit {
    font-size: 20px;
  }
  .map {
    height: 300px;
    padding: 0 5%;
    @include box-sizing(border-box);
  }
  .our-contacts {
    height: 775px;
    .bottom {
      top: 435px;
    }
    .top {
      top: 415px;
    }
  }
  .info {
    top: 425px;
  }
  .f-thk {
    padding: 5px 0;
    p.develop {
      margin-top: 0;
    }
  }
  .thanks-content {
    margin-bottom: -130px;
    padding-bottom: 130px;
  }
}

@media screen and (max-width: 549px) {
  html, body, .wrapper, header, footer, section {
    min-width: 320px;
  }
  header {
    padding: 0;
    div {
      float: none;
    }
  }
  .logo {
    margin: 0 auto;
    a {
      margin: inherit;
    }
  }
  .schedule {
    display: none;
  }
  .contacts {
    width: auto;
    max-width: 400px;
    margin: 0 auto;
    position: static;
    text-align: left;
  }
  .btn-call {
    width: 140px;
    margin-top: -39px;
    float: right;
  }
  .order {
    padding: 0 10px;
    b {
      font-size: 14px;
      span {
        padding-right: 0;
      }
    }
    i {
      font-size: 12px;
    }
  }
  .slogan {
    padding-top: 30px;
    font-size: 20px;
    line-height: 30px;
    span {
      padding-right: 0;
    }
  }
  .order-form {
    width: 290px;
    margin: 30px auto 0;
    .form-title {
      font: 18px/23px "CuprumBold";
      background-position: -35px -126px;
    }
  }
  form {
    width: 90%;
  }
  input {
    width: 100%;
  }
  .submit {
    width: 100%;
    margin-bottom: 5px;
  }
  .repair-clothes, .our-services  {
    height: auto;
  }
  .container {
    padding-right: 12px;
    div.scroll {
      padding-left: 12px;
      margin: 0 auto 40px;
      float: none;
    }
  }
  .excl-services {
    padding: 0;
  }
  .work {
    max-width: 320px;
  }
  .bg-scheme {
    left: 0;
  }
  .trust-us {
    .container div {
      width: 262px;
    }
    .top, .bottom {
      width: 252px;
      height: 128px;
    }
    .container img {
      width: 262px;
    }
  }
  .reviews-client {
    .block, .block-2 {
      height: auto;
    }
    .rev p, .container div:hover p {
      margin-top: 0;
    }
  }
  .consultation {
    .form-title span {
      font-size: 18px;
      line-height: 28px;
    }
    .form-title {
      background-position: -40px -110px;
    }
    .order-form {
      margin-top: 20px;
    }
    .submit {
      font-size: 18px;
    }
  }
  .our-contacts {
    max-width: 320px;
    .top {
      right: 15px;
    }
    .bottom {
      right: 0;
    }
  }
  .info {
    right: 10px;
  }
  .info-text {
    right: 0;
  }
  .questions {
    height: auto;
    font-size: 30px;
    line-height: 50px;
    a {
      width: 210px;
      margin-bottom: 20px;
      display: block;
      position: static;
      font-size: 18px;
    }
  }
  footer {
    padding: 20px 0;
    div {
      float: none;
    }
    .contacts {
      margin-left: auto;
    }
    p.develop {
      padding-right: 0;
      margin-top: 0;
    }
  }
  .text-footer {
    margin-left: 12px;
  }
  .bg-order-1 {
    background-image: url("../images/ladyBG1W500C50.jpg");
  }
  .bg-order-2 {
    background-image: url("../images/ladyBG2W500C50.jpg");
  }
  .bg-problems {
    background-image: url("../images/ladyBG3W500C50.jpg");
  }
  .bg-make {
    background-image: url("../images/ladyBG4W500C70.jpg");
  }
  .bg-order-3 {
    background-image: url("../images/ladyBG5W500C50.jpg");
  }
  .bg-reviews {
    background-image: url("../images/furCoatBGW500.jpg");
  }
  .bg-consultation {
    background-image: url("../images/ladyBG6W500C50.jpg");
  }
  .call-b, .ask-q {
    width: 290px;
    margin-left: -150px;
    margin-top: -142px;
  }
  .ask-q {
    height: 370px;
    margin-top: -185px;
    form {
      width: 90%;
      div + div {
        margin-left: auto;
      }
      div {
        margin: 0 auto;
        width: 90%;
        float: none;
      }
      .clear {
        display: none;
      }
    }
    .form-title {
      height: 36px;
      line-height: 30px;
      background-position: -38px -146px;
    }
    textarea {
      height: 39px;
    }
    .submit {
      width: 90%;
      margin: 0 auto 5px;
      font-size: 18px;
    }
  }
  .slick-dots li {
    margin: 0;
  }
  .thanks {
    div {
      width: 100%;
      min-width: 300px;
    }
    h2 {
      font-size: 22px;
    }
  }
  .thanks-content {
    min-height: 400px;
  }
  .f-thk {
    height: 130px;
    .clear, .develop {
      display: none;
    }
  }
}

@media screen and (max-width: 429px) {
  .text-footer {
    width: 100%;
    margin: 0;
    bottom: 40px;
    text-align: center;
  }
  footer p.develop {
    padding-bottom: 60px;
    text-align: center;
  }
}

@media screen and (max-width: 349px) {
  .close {
    top: -10px;
    right: -10px;
  }
}