/*
@mixin user-select($user-select) {
  -ms-user-select: $user-select;
  -moz-user-select: $user-select;
  -webkit-user-select: $user-select;
  user-select: $user-select;
}
@mixin transform-origin($transform-origins...) {
  -ms-transform-origin: $transform-origins;
  -moz-transform-origin: $transform-origins;
  -webkit-transform-origin: $transform-origins;
  -o-transform-origin: $transform-origins;
  transform-origin: $transform-origins;
}
@mixin column-count($column-count) {
  -webkit-column-count: $column-count;
  -moz-column-count: $column-count;
  column-count: $column-count;
}*/
/* ----------------------------------------------
 Connect fonts
 ---------------------------------------------- */
/*Import fonts from Google fonts */
@import "https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Fira+Sans:300,300i,400,400i,500,500i,700,700i&subset=cyrillic";
@import "https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic";
/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
  padding: 0;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ----------------------------------------------
 Main
 ---------------------------------------------- */
html, body, section, header, footer, .container, .navbar {
  width: 100%; }

body {
  min-width: 320px;
  font: 15px "Fira Sans", sans-serif;
  color: #333;
  background-color: #fff; }

section, header {
  position: relative; }

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 15px; }
  .container::after {
    content: '';
    display: table;
    clear: both; }

.col-31_6, .col-48_7, .col-65_8, .sidebar, .content {
  float: left; }

.col-31_6 {
  width: 31.666%; }

.col-48_7 {
  width: 48.75%; }

.col-65_8 {
  width: 65.8333%; }

.sidebar {
  width: 26%;
  padding: 15px 2.5% 0 0; }

.content {
  width: 74%; }

.list li {
  position: relative;
  padding-left: 15px;
  line-height: 25px; }
  .list li::before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: #559a3b; }

/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */
h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700; }

h2 {
  font-size: 35px;
  font-weight: 700; }

h3 {
  font-size: 30px;
  font-weight: 700; }

h4 {
  font-size: 23px;
  font-weight: 700; }

h5 {
  font-size: 18px;
  font-weight: 700; }

/* ----------------------------------------------
 Links Img
 ---------------------------------------------- */
nav {
  display: block; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

img {
  width: 100%;
  vertical-align: bottom; }

/* ----------------------------------------------
 Form Buttons Inputs
 ---------------------------------------------- */
.btn {
  display: block;
  margin: 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #559a3b;
  cursor: pointer; }

form::after {
  content: '';
  display: table;
  clear: both; }

input {
  width: 100%;
  height: 45px;
  padding: 12px 15px 10px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border: 1px solid #cfdde3; }
  input:focus {
    border-color: #9da6aa; }

.submit {
  border: 0; }

.order-btn {
  width: 128px;
  height: 41px;
  font: 18px "Roboto", sans-serif;
  font-weight: 700;
  line-height: 41px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.098);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.098);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.098); }

.download-btn {
  position: relative;
  width: 180px;
  height: 46px;
  padding: 10px 10px 5px 50px;
  font-size: 12px;
  text-decoration: underline;
  text-align: left; }
  .download-btn::before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 12px;
    width: 32px;
    height: 34px;
    background: url("../img/sprite.png") no-repeat -322px 0; }
  .download-btn:hover {
    text-decoration: none; }

/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */
a, .btn {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

/* ----------------------------------------------
 Header
 ---------------------------------------------- */
header {
  border-bottom: 1px solid #bfc9d5; }
  header .container {
    position: relative; }
  header .phone {
    float: right; }

.logo {
  float: left;
  font: 24px "Exo 2", sans-serif;
  font-weight: 700;
  color: #fff8f8;
  line-height: 64px;
  text-transform: uppercase; }
  .logo a {
    text-decoration: none; }

.phone {
  position: relative;
  padding-left: 25px;
  font: 20px "Roboto", sans-serif;
  font-weight: 700;
  line-height: 64px;
  color: #000; }
  .phone::before {
    content: '';
    display: block;
    position: absolute;
    top: 23px;
    left: 0;
    width: 20px;
    height: 20px;
    background: url("../img/sprite.png") no-repeat 0 0; }

/* ----------------------------------------------
 Navigation
 ---------------------------------------------- */
.navbar {
  padding-top: 5px;
  background-color: #559a3b;
  border-bottom: 5px solid #f7f5f5; }

.top-menu {
  font: 16px "Roboto", sans-serif;
  color: #fff;
  text-align: center; }
  .top-menu li {
    position: relative;
    float: left;
    width: 20%; }
    .top-menu li + li::before {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 1px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.3); }
  .top-menu a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; }
    .top-menu a:hover {
      color: #559a3b;
      background-color: #f7f5f5; }

.sidebar-menu {
  font-size: 16px;
  color: #fff; }
  .sidebar-menu a {
    position: relative;
    display: block;
    padding: 10px 10px 10px 40px;
    background-color: #1a95fd; }
    .sidebar-menu a::before {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: 25px;
      width: 7px;
      height: 7px;
      background-color: #fff; }
    .sidebar-menu a:hover {
      background-color: #0679da; }
      .sidebar-menu a:hover::before {
        background-color: #ffca08; }
  .sidebar-menu .active {
    font-weight: 700; }
    .sidebar-menu .active > a {
      text-decoration: none; }
      .sidebar-menu .active > a::before {
        background-color: #ffca08; }
    .sidebar-menu .active .secondary-menu {
      display: block; }

.secondary-menu {
  display: none;
  padding: 10px 0;
  font-size: 15px;
  color: #333;
  background-color: #cce7fe; }
  .secondary-menu a {
    padding: 5px 5px 5px 40px;
    font-weight: 400;
    text-decoration: underline;
    background-color: transparent; }
    .secondary-menu a::before {
      display: none; }
    .secondary-menu a:hover {
      color: #559a3b;
      background-color: transparent; }
  .secondary-menu .active {
    color: #000; }
    .secondary-menu .active a {
      font-weight: 700; }
      .secondary-menu .active a::before {
        display: block;
        width: auto;
        height: auto;
        top: 9px;
        background-color: transparent;
        border: 5px solid transparent;
        border-left-color: #ffca08; }

.bread-crumbs {
  padding-top: 15px;
  margin-bottom: 20px;
  font-size: 13px; }
  .bread-crumbs::after {
    content: '';
    display: table;
    clear: both; }
  .bread-crumbs li {
    float: left;
    padding: 0 5px;
    margin-bottom: 10px;
    border-right: 2px solid #d3d3d3; }
    .bread-crumbs li:last-child {
      border-right: 0; }
  .bread-crumbs a {
    padding: 4px 7px;
    color: #1976ac; }
    .bread-crumbs a:hover {
      color: #fff;
      text-decoration: underline;
      background-color: #008aff; }
  .bread-crumbs span {
    padding: 4px 7px; }

/* ----------------------------------------------
 Footer
 ---------------------------------------------- */
footer {
  min-height: 135px;
  padding: 35px 0;
  font-size: 14px;
  /* font-weight: 300;*/
  line-height: 20px;
  background-color: #e8e8e8;
  border-top: 3px solid #c4c4c4; }
  footer .info {
    float: left; }
  footer .develop {
    float: right; }

/* ----------------------------------------------
 Sections
 ---------------------------------------------- */
.pageheader {
  background: url("../img/bg_1.png");
  border-bottom: 1px solid #c4c4c4; }

.products {
  background: linear-gradient(to top, #E2E6E8 0%, #F8FAFB 100%);
  border-bottom: 2px solid #c5c5c5; }
  .products h3 {
    padding: 20px 0;
    text-align: center; }
  .products h4 {
    margin-bottom: 10px; }

.products-block > div {
  padding: 25px;
  margin-bottom: 33px;
  background-color: #fff;
  border: 1px solid #cfdde3; }
  .products-block > div + div {
    margin-left: 2.5%; }
.products-block:last-child .list {
  float: left;
  width: 44%;
  margin-bottom: 25px; }
  .products-block:last-child .list + .list {
    padding-left: 4.5%;
    margin-left: 7.5%;
    border-left: 1px solid #dedede; }
.products-block:last-child > div:last-child {
  padding: 25px 0;
  line-height: 23px;
  background-color: transparent;
  border: 0; }

.about {
  padding: 45px 0;
  border-bottom: 2px solid #c5c5c5; }
  .about .col-31_6 {
    margin-right: 2.5%; }
  .about h3 {
    margin: 15px 0 10px; }
  .about p {
    line-height: 23px; }
    .about p + p {
      margin-top: 30px; }

.img-block {
  position: relative;
  border: 1px solid #e8e8e8; }
  .img-block .title {
    position: absolute;
    bottom: -5px;
    right: -4px;
    height: 24px;
    padding: 5px 10px;
    font-size: 12px;
    font-style: italic;
    color: #fff;
    line-height: normal;
    background-color: #559a3b; }
    .img-block .title::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
      border-top: 12px solid transparent;
      border-right: 5px solid #559a3b;
      border-bottom: 12px solid #559a3b;
      border-left: 5px solid transparent; }

.works {
  padding: 35px 0 50px;
  background: url("../img/bg_2.png"); }
  .works h3 {
    margin-bottom: 10px; }
  .works .container > div + div {
    margin-left: 2.5%; }

.works-img {
  display: block;
  position: relative;
  float: left;
  width: 33%;
  margin-bottom: 4px; }
  .works-img:hover .title {
    visibility: visible;
    opacity: 1; }
  .works-img + .works-img {
    margin-left: 0.5%; }
  .works-img:nth-child(5n) {
    margin-left: 0; }
  .works-img .title {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 9px 10px 8px 25px;
    font: 13px "Roboto", sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    .works-img .title::before {
      content: '';
      display: block;
      position: absolute;
      top: 12px;
      left: 6px;
      width: 12px;
      height: 13px;
      background: url("../img/sprite.png") no-repeat -256px 0; }

.clients {
  position: relative;
  float: left;
  width: 30%;
  height: 147px;
  margin-bottom: 4px;
  text-align: center; }
  .clients + .clients {
    margin-left: 5%; }
  .clients:nth-child(5n) {
    margin-left: 0; }
  .clients img {
    position: absolute;
    width: auto;
    max-width: 100%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.privilege {
  padding: 25px 0 45px;
  border-bottom: 2px solid #d0d0d0; }
  .privilege h3 {
    margin-bottom: 20px;
    color: #559a3b;
    text-align: center; }
  .privilege b {
    font-weight: 700; }
  .privilege .container > div + .col-48_7 {
    margin-left: 2.5%; }
  .privilege .slogan {
    max-width: 870px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    text-align: center; }
  .privilege .list {
    margin-bottom: 25px;
    font-family: "Roboto", sans-serif; }
  .privilege .accent-block {
    float: left;
    padding: 25px;
    font-size: 16px;
    line-height: 25px;
    background-color: #f8fafb;
    border: 1px solid #e8e8e8; }

.contact {
  min-height: 345px;
  padding: 35px 0;
  background: url("../img/bg_2.png"); }
  .contact h3 {
    margin-bottom: 30px;
    color: #559a3b;
    text-align: center; }
  .contact .contact-form {
    width: 100%; }
    .contact .contact-form > div {
      float: left;
      width: 25%;
      margin-right: 3%; }
  .contact label {
    display: block;
    position: relative;
    padding: 5px 0 10px 20px; }
  .contact .submit {
    float: left;
    width: 16%;
    margin-top: 33px;
    font-size: 18px;
    font-weight: 700; }

.content h1 {
  margin-bottom: 5px; }
.content h2 {
  width: 66%;
  margin: 0 0 15px; }
.content h3 {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 9px solid #ffca08; }
.content p {
  line-height: 25px; }
.content > p {
  margin-bottom: 25px; }
.content > div::after {
  content: '';
  display: table;
  clear: both; }

.description {
  margin-bottom: 30px; }
  .description > div {
    float: left;
    width: 54%; }
    .description > div:first-child {
      width: 43%;
      margin-right: 3%; }
  .description img {
    margin-bottom: 15px; }

.characteristics {
  max-width: 370px;
  padding: 7px 15px;
  margin: 20px 0 45px;
  font-size: 13px;
  font-weight: 500;
  color: #000;
  background-color: #ebf8ff; }
  .characteristics span {
    margin-left: 10px;
    font-weight: 400;
    color: #333; }

.price {
  font-size: 42px;
  font-weight: 700; }
  .price sup span {
    padding: 4px 5px 2px;
    margin-right: 14px;
    font-size: 14px;
    font-weight: 400;
    background-color: #ffca08; }
  .price span {
    font-size: 25px; }

.table {
  margin: 30px 0 25px;
  border: 1px solid #b6b6b6; }

.table-line {
  font-size: 13px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #b6b6b6; }
  .table-line::after {
    content: '';
    display: table;
    clear: both; }
  .table-line:last-child {
    border-bottom: 0; }
  .table-line > div {
    float: left;
    width: 50%;
    padding: 13px 17px 9px; }
  .table-line .cell1 {
    border-right: 1px solid #b6b6b6; }

.table-title {
  font-weight: 700;
  background-color: #ebeaea; }
  .table-title > div {
    width: 100%; }

.product-list {
  font-size: 14px;
  color: #666; }
  .product-list > div {
    float: left;
    width: 31%;
    margin-right: 3.5%;
    margin-bottom: 45px;
    border-bottom: 13px solid #ffca08; }
    .product-list > div:nth-child(3n) {
      margin-right: 0; }
  .product-list h5 {
    margin-bottom: 12px; }
    .product-list h5 a:hover {
      color: #1a95fd;
      text-decoration: underline; }
  .product-list p {
    margin-bottom: 20px; }
  .product-list img {
    margin-bottom: 15px; }
  .product-list .price {
    margin-bottom: 10px;
    font-size: 30px;
    color: #333; }
    .product-list .price sup span {
      color: #666;
      background-color: transparent; }

.pages-list {
  margin-bottom: 60px;
  font-size: 13px;
  text-align: center; }
  .pages-list ul {
    display: inline-block;
    margin-top: -18px;
    border-bottom: 2px solid #36a2fd; }
  .pages-list li {
    float: left;
    padding: 10px 14px 8px;
    color: #1a95fd;
    background-color: #f6f5f5;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    .pages-list li:hover {
      color: #fff;
      background-color: #36a2fd; }
    .pages-list li a {
      text-decoration: none;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }
  .pages-list .active {
    color: #fff;
    background-color: #36a2fd; }

.img-text-block > div {
  width: 65.5%;
  float: left; }
  .img-text-block > div:first-child {
    width: 31%;
    margin-right: 3.5%; }
.img-text-block p {
  margin-bottom: 30px; }

/* ----------------------------------------------
 Colors Backgrounds
 ---------------------------------------------- */
.yellow-line {
  border-left: 10px solid #ffca08 !important; }

.green-line {
  border-left: 10px solid #559a3b !important; }

.blue-line {
  border-left: 10px solid #008aff !important; }

.red-line {
  border-left: 10px solid #de2521 !important; }

.header-left-bg, .header-right-bg, .header-middle-bg {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%; }

.header-left-bg {
  left: 0;
  background-color: #9c9b9b; }

.header-right-bg {
  right: 0;
  background-color: #c7c7c6; }

.header-middle-bg {
  left: 30%;
  background-color: #b2b1b1;
  border-right: 3px solid #dfdfdf;
  border-left: 3px solid #c8c7c6;
  -ms-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg); }
  .header-middle-bg::before, .header-middle-bg::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%; }
  .header-middle-bg::before {
    left: -5px;
    border-left: 2px solid #d8d7d5; }
  .header-middle-bg::after {
    right: -5px;
    border-right: 2px solid #eee; }

.icon {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  background: url("../img/sprite.png") no-repeat; }

.icon-human {
  width: 16px;
  height: 18px;
  background-position: -192px 0; }

.icon-phone {
  width: 12px;
  height: 16px;
  background-position: -64px 0; }

.icon-mail {
  top: 7px;
  width: 16px;
  height: 14px;
  background-position: -128px 0; }

/* ----------------------------------------------
Sliders
---------------------------------------------- */
.pageheader-slider {
  position: relative;
  width: 100%;
  overflow: hidden; }

.text-box {
  position: absolute;
  top: 0;
  left: -48px;
  width: 60%;
  height: 100%;
  padding: 55px 30px 60px 120px;
  font-size: 20px;
  background-color: rgba(252, 252, 241, 0.7);
  -ms-transform: skew(14deg);
  -moz-transform: skew(14deg);
  -webkit-transform: skew(14deg);
  -o-transform: skew(14deg);
  transform: skew(14deg); }
  .text-box h2 {
    margin-bottom: 25px; }
  .text-box p {
    max-width: 420px;
    margin: 0 0 30px; }
  .text-box a:not(.btn) {
    color: #00a1ff; }
    .text-box a:not(.btn):hover {
      color: #f37f00;
      text-decoration: underline; }
  .text-box > div {
    -ms-transform: skew(-14deg);
    -moz-transform: skew(-14deg);
    -webkit-transform: skew(-14deg);
    -o-transform: skew(-14deg);
    transform: skew(-14deg); }

/* ----------------------------------------------
Pop up 15
---------------------------------------------- */
/*.pop-up-bg {
  position: fixed;
  display: none;
  width:100%;
  min-height:100%;
  height: 100%;
  top:0;
  background-color: rgba(0,0,0,0.8);
  overflow:hidden;
  z-index: 99;
}*/
/* ----------------------------------------------
Placeholder
---------------------------------------------- */
::-webkit-input-placeholder {
  color: #333; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #333; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #333; }

:-ms-input-placeholder {
  color: #333; }

.form-fail::-webkit-input-placeholder {
  font-family: "Fira Sans", sans-serif;
  color: #333; }

.form-fail:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Fira Sans", sans-serif;
  color: #333; }

.form-fail::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Fira Sans", sans-serif;
  color: #333; }

.form-fail:-ms-input-placeholder {
  font-family: "Fira Sans", sans-serif;
  color: #333; }

/*Scroll up button*/
#scrollUp {
  position: fixed;
  width: 44px;
  height: 36px;
  background-color: #559a3b;
  border: 1px solid #559a3b;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  right: 10px;
  bottom: -40px;
  display: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: background, border;
  -moz-transition-property: background, border;
  -o-transition-property: background, border;
  transition-property: background, border;
  cursor: pointer;
  z-index: 20; }
  #scrollUp:hover {
    border-color: #2c501f;
    background: #2c501f; }
  #scrollUp .upButton {
    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -4px;
    opacity: 1;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

/*Mobile menu*/
#m-menu:not(.mm-menu) {
  display: none; }

.mobile-nav {
  display: none;
  height: 50px;
  background-color: transparent;
  width: 100%;
  z-index: 50; }

.menu-button {
  cursor: pointer;
  padding: 0; }

.hamburger {
  float: right;
  padding: 9px 15px;
  background-color: transparent;
  width: 70px;
  margin: 0; }

.hamburger-box {
  width: 40px;
  height: 24px;
  position: relative; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }
.hamburger-inner::before {
  top: -10px; }
.hamburger-inner::after {
  bottom: -10px; }

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    -moz-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    -o-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

html.mm-opening .hamburger--collapse .hamburger-inner {
  -ms-transform: translate3d(0, -10px, 0) rotate(-45deg);
  -moz-transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  -o-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1); }

html.mm-opening .hamburger--collapse .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  -moz-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  -o-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear; }

html.mm-opening .hamburger--collapse .hamburger-inner::before {
  top: 0;
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*Forms*/
.form-success {
  border-color: #559a3b !important; }

.form-fail {
  border-color: #de2521 !important; }

/* ----------------------------------------------
 Media
 ---------------------------------------------- */
/* Large devices */
/* Medium devices */
@media (max-width: 1199px) {
  .header-middle-bg {
    width: 40%;
    left: 34%; }

  .text-box {
    padding-top: 25px;
    padding-left: 100px; }

  .content h2 {
    width: 75%; }

  /*Scroll Up Button*/
  #scrollUp:hover {
    border-color: #559a3b;
    background-color: #559a3b; }
    #scrollUp:hover .upButton {
      border-top: 2px solid #fff;
      border-left: 2px solid #fff; }
  #scrollUp.active {
    border-color: #2c501f;
    background: #2c501f; }
    #scrollUp.active .upButton {
      border-top: 2px solid #fff;
      border-left: 2px solid #fff; } }
/* Small devices */
@media (max-width: 991px) {
  .header-middle-bg {
    width: 30%;
    left: 40%; }

  .text-box {
    padding-top: 15px;
    padding-left: 70px;
    font-size: 18px; }
    .text-box h2 {
      max-width: 400px;
      margin: 0 0 10px; }
    .text-box p {
      max-width: 340px;
      margin-bottom: 15px; }

  .sidebar-menu a {
    padding-left: 30px; }
    .sidebar-menu a::before {
      left: 15px; }

  .secondary-menu a {
    padding-left: 30px; }

  .content h2 {
    width: 100%; }

  .product-list .price {
    font-size: 20px; }
    .product-list .price span {
      font-size: 16px; }
    .product-list .price sup span {
      margin-right: 7px; } }
@media (max-width: 930px) {
  .text-box h2 {
    font-size: 25px; } }
/* Extra small devices */
@media (max-width: 767px) {
  .header-middle-bg {
    width: 25%; }

  .logo {
    font-size: 18px; }

  .phone {
    font-size: 16px; }

  .top-menu {
    display: none; }

  .mobile-nav {
    display: block; }

  .sidebar {
    display: none; }

  .content {
    width: 100%; }

  .text-box h2 {
    font-size: 22px; }
  .text-box p {
    display: none; }

  .products-block .col-31_6 {
    width: 48.5%; }
    .products-block .col-31_6:last-child {
      width: 100%;
      margin-left: 0; }
  .products-block .col-65_8 {
    width: 100%; }

  .works .col-48_7 {
    width: 100%;
    margin-left: 0 !important; }
    .works .col-48_7:first-child {
      margin-bottom: 30px; }

  .contact .contact-form > div {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 20px; }
  .contact .submit {
    width: 45%; } }
@media (max-width: 599px) {
  .header-middle-bg {
    width: 13%;
    left: 47%; }

  .text-box h2 {
    font-size: 16px; }

  .about .container > div {
    width: 100%;
    margin-right: 0; }

  .description {
    margin-bottom: 0; }
    .description > div {
      width: 100% !important;
      margin-right: 0 !important;
      margin-bottom: 30px; }

  .table-line .cell1 {
    width: 70%; }
  .table-line .cell2 {
    width: 30%; }
  .table-line:first-child .cell1 {
    min-height: 54px; }

  .product-list > div {
    width: 45%;
    min-height: 420px;
    margin-right: 0; }
    .product-list > div:nth-child(even) {
      margin-left: 10%; }

  .img-text-block > div {
    width: 100% !important;
    margin-right: 0 !important; }
    .img-text-block > div:first-child {
      margin-bottom: 20px; } }
@media (max-width: 479px) {
  h1 {
    font-size: 35px; }

  .header-middle-bg {
    display: none; }

  .header-left-bg, .header-right-bg {
    width: 100%;
    height: 50%; }

  .header-right-bg {
    top: 50%; }

  header {
    text-align: center; }
    header .logo, header .phone {
      float: none; }
    header .phone {
      display: inline-block; }

  .text-box {
    display: none; }

  .products-block .col-31_6 {
    width: 100%;
    margin-left: 0; }
  .products-block:last-child .list {
    width: 100%; }
    .products-block:last-child .list + .list {
      padding-left: 0;
      margin-left: 0;
      border-left: 0; }

  .works-img {
    width: 49%; }
    .works-img + .works-img {
      margin-left: 0; }
    .works-img:nth-child(odd) {
      margin-left: 2%; }

  .privilege .container > div {
    width: 100%; }
    .privilege .container > div + .col-48_7 {
      margin-left: 0; }

  .contact .contact-form > div {
    width: 100%;
    margin-right: 0; }
  .contact .submit {
    width: 100%; }

  footer .info {
    float: none;
    margin-bottom: 10px; }

  .bread-crumbs span {
    display: block; }

  .table-line:first-child .cell1 {
    width: 55%; }
  .table-line:first-child .cell2 {
    width: 45%; }

  .product-list > div {
    width: 100%;
    margin-left: 0 !important; } }

/*# sourceMappingURL=styles.css.map */
