@charset "UTF-8";

// mixin //

@mixin box-sizing($box-sizing) {
  -moz-box-sizing: $box-sizing;
  -webkit-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}
@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}
@mixin transform($transform) {
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
@mixin border-radius($rads...) {
  -moz-border-radius: $rads;
  -webkit-border-radius: $rads;
  border-radius: $rads;
}
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin transitionProperty($properties...) {
  -webkit-transition-property: $properties;
  -moz-transition-property: $properties;
  -o-transition-property: $properties;
  transition-property: $properties;
}
/*
@mixin user-select($user-select) {
  -ms-user-select: $user-select;
  -moz-user-select: $user-select;
  -webkit-user-select: $user-select;
  user-select: $user-select;
}
@mixin transform-origin($transform-origins...) {
  -ms-transform-origin: $transform-origins;
  -moz-transform-origin: $transform-origins;
  -webkit-transform-origin: $transform-origins;
  -o-transform-origin: $transform-origins;
  transform-origin: $transform-origins;
}
@mixin column-count($column-count) {
  -webkit-column-count: $column-count;
  -moz-column-count: $column-count;
  column-count: $column-count;
}*/

/* ----------------------------------------------
 Connect fonts
 ---------------------------------------------- */

/*Import fonts from Google fonts */
@import 'https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Fira+Sans:300,300i,400,400i,500,500i,700,700i&subset=cyrillic';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic';

// color and fonts variable //

$green-color: #559a3b;
$yellow-color: #ffca08;
$red-color: #de2521;
$blue-color: #008aff;

$font-color: #333;

$hover-link-color: #f37f00;

$fira-sans-font: 'Fira Sans', sans-serif;
$exo2-font: 'Exo 2', sans-serif;
$roboto-font: 'Roboto', sans-serif;

/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
  padding: 0;
  margin: 0 auto;
  @include box-sizing(border-box);
}

/* ----------------------------------------------
 Main
 ---------------------------------------------- */

html, body, section, header, footer, .container, .navbar {
  width: 100%;
}
body {
  min-width: 320px;
  font: 15px $fira-sans-font;
  color: $font-color;
  background-color: #fff;
}
section, header {
  position: relative;
}
.container {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
.col-31_6, .col-48_7, .col-65_8, .sidebar, .content {
  float: left;
}
.col-31_6 {
  width: 31.666%;
}
.col-48_7 {
  width: 48.75%;
}
.col-65_8 {
  width: 65.8333%;
}
.sidebar {
  width: 26%;
  padding: 15px 2.5% 0 0;
}
.content {
  width: 74%;
}
.list {
  li {
    position: relative;
    padding-left: 15px;
    line-height: 25px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 9px;
      left: 0;
      width: 6px;
      height: 6px;
      background-color: $green-color;
    }
  }
}


/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */

h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
}
h2 {
  font-size: 35px;
  font-weight: 700;
}
h3 {
  font-size: 30px;
  font-weight: 700;
}
h4 {
  font-size: 23px;
  font-weight: 700;
}
h5 {
  font-size: 18px;
  font-weight: 700;
}

/* ----------------------------------------------
 Links Img
 ---------------------------------------------- */
nav {
  display: block;
}
a {
  color:inherit;
  &:hover {
    text-decoration: none;
  }
}
li {
  list-style: none;
}
img {
  width: 100%;
  vertical-align: bottom;
}

/* ----------------------------------------------
 Form Buttons Inputs
 ---------------------------------------------- */

.btn {
  display: block;
  margin: 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: $green-color;
  cursor: pointer;
}

form {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
input {
  width: 100%;
  height: 45px;
  padding: 12px 15px 10px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border: 1px solid #cfdde3;
  &:focus {
    border-color: #9da6aa;
  }
}
.submit {
  border: 0;
}

.order-btn {
  width: 128px;
  height: 41px;
  font: 18px $roboto-font;
  font-weight: 700;
  line-height: 41px;
  @include border-radius(3px);
  @include box-shadow(0px 0px 4px 0px rgba(0, 0, 0, 0.098));
}

.download-btn {
  position: relative;
  width: 180px;
  height: 46px;
  padding: 10px 10px 5px 50px;
  font-size: 12px;
  text-decoration: underline;
  text-align: left;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 12px;
    width: 32px;
    height: 34px;
    background: url("../img/sprite.png") no-repeat -322px 0;
  }
  &:hover {
    text-decoration: none;
  }
}

/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */

a, .btn {
  @include transition(all 0.2s ease-in-out 0s);
}

/* ----------------------------------------------
 Header
 ---------------------------------------------- */

header {
  border-bottom: 1px solid #bfc9d5;
  .container {
    position: relative;
  }
  .phone {
    float: right;
  }
}
.logo {
  float: left;
  font: 24px $exo2-font;
  font-weight: 700;
  color: #fff8f8;
  line-height: 64px;
  text-transform: uppercase;
  a {
    text-decoration: none;
  }
}
.phone {
  position: relative;
  padding-left: 25px;
  font: 20px $roboto-font;
  font-weight: 700;
  line-height: 64px;
  color: #000;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 23px;
    left: 0;
    width: 20px;
    height: 20px;
    background: url("../img/sprite.png") no-repeat 0 0;
  }
}

/* ----------------------------------------------
 Navigation
 ---------------------------------------------- */

.navbar {
  padding-top: 5px;
  background-color: $green-color;
  border-bottom: 5px solid #f7f5f5;
}
.top-menu {
  font: 16px $roboto-font;
  color: #fff;
  text-align: center;
  li {
    position: relative;
    float: left;
    width: 20%;
    + li::before {
      content: '';
      display: block;
      position: absolute;
      top: 5px;
      left: 0;
      width: 1px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    @include border-radius(5px 5px 0 0);
    &:hover {
      color: $green-color;
      background-color: #f7f5f5;
    }
  }
}
.sidebar-menu {
  font-size: 16px;
  color: #fff;
  a {
    position: relative;
    display: block;
    padding: 10px 10px 10px 40px;
    background-color: #1a95fd;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 15px;
      left: 25px;
      width: 7px;
      height: 7px;
      background-color: #fff;
    }
    &:hover {
      background-color: #0679da;
      &::before {
        background-color: $yellow-color;
      }
    }
  }
  .active {
    font-weight: 700;
    > a {
      text-decoration: none;
      &::before {
        background-color: $yellow-color;
      }
    }
    .secondary-menu {
      display: block;
    }
  }
}

.secondary-menu {
  display: none;
  padding: 10px 0;
  font-size: 15px;
  color: $font-color;
  background-color: #cce7fe;
  a {
    padding: 5px 5px 5px 40px;
    font-weight: 400;
    text-decoration: underline;
    background-color: transparent;
    &::before {
      display: none;
    }
    &:hover {
      color: $green-color;
      background-color: transparent;
    }
  }
  .active {
    color: #000;
    a {
      font-weight: 700;
      &::before {
        display: block;
        width: auto;
        height: auto;
        top: 9px;
        background-color: transparent;
        border: 5px solid transparent;
        border-left-color: $yellow-color;
      }
    }
  }
}

.bread-crumbs {
  padding-top: 15px;
  margin-bottom: 20px;
  font-size: 13px;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  li {
    float: left;
    padding: 0 5px;
    margin-bottom: 10px;
    border-right: 2px solid #d3d3d3;
    &:last-child {
      border-right: 0;
    }
  }
  a {
    padding: 4px 7px;
    color: #1976ac;
    &:hover {
      color: #fff;
      text-decoration: underline;
      background-color: $blue-color;
    }
  }
  span {
    padding: 4px 7px;
  }
}

/* ----------------------------------------------
 Footer
 ---------------------------------------------- */

footer {
  min-height: 135px;
  padding: 35px 0;
  font-size: 14px;
 /* font-weight: 300;*/
  line-height: 20px;
  background-color: #e8e8e8;
  border-top: 3px solid #c4c4c4;
  .info {
    float: left;
  }
  .develop {
    float: right;
  }
}

/* ----------------------------------------------
 Sections
 ---------------------------------------------- */

.pageheader {
  background: url("../img/bg_1.png");
  border-bottom: 1px solid #c4c4c4;
}
.products {
  background: linear-gradient(to top, #E2E6E8 0%, #F8FAFB 100%);
  border-bottom: 2px solid #c5c5c5;
  h3 {
    padding: 20px 0;
    text-align: center;
  }
  h4 {
    margin-bottom: 10px;
  }

}
.products-block {
  > div {
    padding: 25px;
    margin-bottom: 33px;
    background-color: #fff;
    border: 1px solid #cfdde3;
    + div {
      margin-left: 2.5%;
    }
  }
  &:last-child {
    .list {
      float: left;
      width: 44%;
      margin-bottom: 25px;
      + .list {
        padding-left: 4.5%;
        margin-left: 7.5%;
        border-left: 1px solid #dedede;
      }
    }
    > div:last-child {
      padding: 25px 0;
      line-height: 23px;
      background-color: transparent;
      border: 0;
    }
  }
}

.about {
  padding: 45px 0;
  border-bottom: 2px solid #c5c5c5;
  .col-31_6 {
    margin-right: 2.5%;
  }
  h3 {
    margin: 15px 0 10px;
  }
  p {
    line-height: 23px;
    + p {
      margin-top: 30px;
    }
  }
}
.img-block {
  position: relative;
  border: 1px solid #e8e8e8;
  .title {
    position: absolute;
    bottom: -5px;
    right: -4px;
    height: 24px;
    padding: 5px 10px;
    font-size: 12px;
    font-style: italic;
    color: #fff;
    line-height: normal;
    background-color: $green-color;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
      border-top: 12px solid transparent;
      border-right: 5px solid $green-color;
      border-bottom: 12px solid $green-color;
      border-left: 5px solid transparent;
    }
  }
}

.works {
  padding: 35px 0 50px;
  background: url("../img/bg_2.png");
  h3 {
    margin-bottom: 10px;
  }
  .container > div + div {
    margin-left: 2.5%;
  }
}
.works-img {
  display: block;
  position: relative;
  float: left;
  width: 33%;
  margin-bottom: 4px;
  &:hover {
    .title {
      visibility: visible;
      opacity: 1;
    }
  }
  + .works-img {
    margin-left: 0.5%;
  }
  &:nth-child(5n) {
    margin-left: 0;
  }
  .title {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 9px 10px 8px 25px;
    font: 13px $roboto-font;
    font-weight: 300;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    @include transition(all 0.2s ease-in-out 0s);
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 12px;
      left: 6px;
      width: 12px;
      height: 13px;
      background: url("../img/sprite.png") no-repeat -256px 0;
    }
  }
}
.clients {
  position: relative;
  float: left;
  width: 30%;
  height: 147px;
  margin-bottom: 4px;
  text-align: center;
  + .clients {
    margin-left: 5%;
  }
  &:nth-child(5n) {
    margin-left: 0;
  }
  img {
    position: absolute;
    width: auto;
    max-width: 100%;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

.privilege {
  padding: 25px 0 45px;
  border-bottom: 2px solid #d0d0d0;
  h3 {
    margin-bottom: 20px;
    color: $green-color;
    text-align: center;
  }
  b {
    font-weight: 700;
  }
  .container {
    > div + .col-48_7 {
      margin-left: 2.5%;
    }
  }
  .slogan {
    max-width: 870px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
  .list {
    margin-bottom: 25px;
    font-family: $roboto-font;
  }
  .accent-block {
    float: left;
    padding: 25px;
    font-size: 16px;
    line-height: 25px;
    background-color: #f8fafb;
    border: 1px solid #e8e8e8;
  }
}

.contact {
  min-height: 345px;
  padding: 35px 0;
  background: url("../img/bg_2.png");
  h3 {
    margin-bottom: 30px;
    color: $green-color;
    text-align: center;
  }
  .contact-form {
    width: 100%;
    > div {
      float: left;
      width: 25%;
      margin-right: 3%;
    }
  }
  label {
    display: block;
    position: relative;
    padding: 5px 0 10px 20px;
  }
  .submit {
    float: left;
    width: 16%;
    margin-top: 33px;
    font-size: 18px;
    font-weight: 700;
  }
}

.content {
  h1 {
    margin-bottom: 5px;
  }
  h2 {
    width: 66%;
    margin: 0 0 15px;
  }
  h3 {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 9px solid $yellow-color;
  }
  p {
    line-height: 25px;
  }
  > p {
    margin-bottom: 25px;
  }
  > div::after {
    content: '';
    display: table;
    clear: both;
  }
}
.description {
  margin-bottom: 30px;
  > div {
    float: left;
    width: 54%;
    &:first-child {
      width: 43%;
      margin-right: 3%;
    }
  }
  img {
    margin-bottom: 15px;
  }
}
.characteristics {
  max-width: 370px;
  padding: 7px 15px;
  margin: 20px 0 45px;
  font-size: 13px;
  font-weight: 500;
  color: #000;
  background-color: #ebf8ff;
  span {
    margin-left: 10px;
    font-weight: 400;
    color: $font-color;
  }
}
.price {
  font-size: 42px;
  font-weight: 700;
  sup span {
    padding: 4px 5px 2px;
    margin-right: 14px;
    font-size: 14px;
    font-weight: 400;
    background-color: $yellow-color;
  }
  span {
    font-size: 25px;
  }
}

.table {
  margin: 30px 0 25px;
  border: 1px solid #b6b6b6;
}
.table-line {
  font-size: 13px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #b6b6b6;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  &:last-child {
    border-bottom: 0;
  }
  > div {
    float: left;
    width: 50%;
    padding: 13px 17px 9px;
  }
  .cell1 {
    border-right: 1px solid #b6b6b6;
  }
}
.table-title {
  font-weight: 700;
  background-color: #ebeaea;
}

.product-list {
  font-size: 14px;
  color: #666;
  > div {
    float: left;
    width: 31%;
    margin-right: 3.5%;
    margin-bottom: 45px;
    border-bottom: 13px solid $yellow-color;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  h5 {
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 15px;
  }
  .price {
    margin-bottom: 5px;
    font-size: 30px;
    color: $font-color;
    sup span {
      color: #666;
      background-color: transparent;
    }
  }
}

.pages-list {
  margin-bottom: 60px;
  font-size: 13px;
  text-align: center;
  ul {
    display: inline-block;
    margin-top: -18px;
    border-bottom: 2px solid #36a2fd;
  }
  li {
    float: left;
    padding: 10px 14px;
    color: #1a95fd;
    background-color: #f6f5f5;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    @include transition(all 0.2s ease-in-out 0s);
    &:hover {
      color: #fff;
      background-color: #36a2fd;
    }
    a {
      text-decoration: none;
      @include transition(none);
    }
  }
  .active {
    color: #fff;
    background-color: #36a2fd;
  }
}

.img-text-block {
  > div {
    width: 65.5%;
    float: left;
    &:first-child {
      width: 31%;
      margin-right: 3.5%;
    }
  }
  p {
    margin-bottom: 30px;
  }
}

/* ----------------------------------------------
 Colors Backgrounds
 ---------------------------------------------- */

.yellow-line {
  border-left: 10px solid $yellow-color !important;
}
.green-line {
  border-left: 10px solid $green-color !important;
}
.blue-line {
  border-left: 10px solid $blue-color !important;
}
.red-line {
  border-left: 10px solid $red-color !important;
}
.header-left-bg, .header-right-bg, .header-middle-bg   {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}
.header-left-bg {
  left: 0;
  background-color: #9c9b9b;
}
.header-right-bg {
  right: 0;
  background-color: #c7c7c6;
}
.header-middle-bg {
  left: 30%;
  background-color: #b2b1b1;
  border-right: 3px solid #dfdfdf;
  border-left: 3px solid #c8c7c6;
  @include transform(skew(-20deg));
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
  }
  &::before {
    left: -5px;
    border-left: 2px solid #d8d7d5;
  }
  &::after {
    right: -5px;
    border-right: 2px solid #eee;
  }
}

.icon {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  background: url("../img/sprite.png") no-repeat;
}
.icon-human {
  width: 16px;
  height: 18px;
  background-position: -192px 0;
}
.icon-phone {
  width: 12px;
  height: 16px;
  background-position: -64px 0;
}
.icon-mail {
  top: 7px;
  width: 16px;
  height: 14px;
  background-position: -128px 0;
}

/* ----------------------------------------------
Sliders
---------------------------------------------- */

.pageheader-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.text-box {
  position: absolute;
  top: 0;
  left: -48px;
  width: 60%;
  height: 100%;
  padding: 55px 30px 60px 120px;
  font-size: 20px;
  background-color: rgba(252, 252, 241, 0.7);
  @include transform(skew(14deg));
  h2 {
    margin-bottom: 25px;
  }
  p {
    max-width: 420px;
    margin: 0 0 30px;
  }
  a:not(.btn) {
    color: #00a1ff;
    &:hover {
      color: $hover-link-color;
      text-decoration: underline;
    }
  }
  > div {
    @include transform(skew(-14deg));
  }
}

/* ----------------------------------------------
Pop up 15
---------------------------------------------- */

/*.pop-up-bg {
  position: fixed;
  display: none;
  width:100%;
  min-height:100%;
  height: 100%;
  top:0;
  background-color: rgba(0,0,0,0.8);
  overflow:hidden;
  z-index: 99;
}*/


/* ----------------------------------------------
Placeholder
---------------------------------------------- */

::-webkit-input-placeholder {
  color: $font-color;
}

:-moz-placeholder { /* Firefox 18- */
  color: $font-color;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $font-color;
}

:-ms-input-placeholder {
  color: $font-color;
}

.form-fail::-webkit-input-placeholder {
  font-family: $fira-sans-font;
  color: $font-color;
}

.form-fail:-moz-placeholder { /* Firefox 18- */
  font-family: $fira-sans-font;
  color: $font-color;
}

.form-fail::-moz-placeholder {  /* Firefox 19+ */
  font-family: $fira-sans-font;
  color: $font-color;
}

.form-fail:-ms-input-placeholder {
  font-family: $fira-sans-font;
  color: $font-color;
}

/*Scroll up button*/
#scrollUp {
  position: fixed;
  width: 44px;
  height: 36px;
  background-color: $green-color;
  border: 1px solid $green-color;
  box-sizing: border-box;
  @include border-radius(5px);
  right: 10px;
  bottom: -40px;
  display: none;
  @include transition(0.2s ease-in-out);
  @include transitionProperty(background, border);
  cursor: pointer;
  z-index: 20;
  &:hover {
    border-color: darken($green-color, 20%);
    background: darken($green-color, 20%);
  }
  .upButton {
    @include transition(border 0.2s ease-in-out);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -4px;
    opacity: 1;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    @include transform(rotate(45deg));
  }
}

/*Mobile menu*/
#m-menu:not( .mm-menu ) {
  display: none;
}
.mobile-nav {
  display: none;
  height: 70px;
  padding: 13px 0;
  background-color: transparent;
  width: 100%;
  z-index: 50;
}
.menu-button {
  cursor: pointer;
  padding: 0;
}
.hamburger {
  float: right;
  padding: 9px 15px;
  background-color: transparent;
  width: 70px;
  margin: 0;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  position: relative; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: transparent;
  border-radius: 4px;
  position: absolute;
}
.hamburger-inner {
  &::before, &::after {
    content: "";
    display: block; }
  &::before {
    top: -10px; }
  &::after {
    bottom: -10px; }
}

.hamburger--collapse {
  .hamburger-inner {
    top: auto;
    bottom: 0;
    @include transition(transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19));
    &::after {
      top: -20px;
      @include transition(top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear);
    }
    &::before {
      @include transition(top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19));
    }
  }
}

html.mm-opening .hamburger--collapse .hamburger-inner {
  @include transform(translate3d(0, -10px, 0) rotate(-45deg));
  @include transition(transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1));
}
html.mm-opening .hamburger--collapse .hamburger-inner::after {
  top: 0;
  opacity: 0;
  @include transition(top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear)
}
html.mm-opening .hamburger--collapse .hamburger-inner::before {
  top: 0;
  @include transform(rotate(-90deg));
  @include transition(top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1));
}

/*Forms*/
.form-success {
  border-color: $green-color !important;
}
.form-fail {
  border-color: $red-color !important;
}
/* ----------------------------------------------
 Media
 ---------------------------------------------- */

/* Large devices */

/* Medium devices */
@media (max-width:1199px) {
  /*Scroll Up Button*/
  #scrollUp {
    &:hover {
      border-color: $green-color;
      background-color: $green-color;
      .upButton {
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
      }
    }
    &.active {
      border-color: darken($green-color, 20%);
      background: darken($green-color, 20%);
      .upButton {
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
      }
    }
  }
}

/* Small devices */
@media (max-width: 991px) {

}

/* Extra small devices */
@media (max-width: 767px) {

}