$main-green: #0c8412;
$hover-green: lighten($main-green, 10%);

@mixin transform($transform) {
    -ms-transform: $transform;
    -moz-transform: $transform;
    -webkit-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}
@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}
@mixin border-radius($rads...) {
    -moz-border-radius: $rads;
    -webkit-border-radius: $rads;
    border-radius: $rads;
}

#scrollUp {
    position: fixed;
    width: 44px;
    height: 36px;
    background-color: $main-green;
    @include border-radius(5px);
    right: 10px;
    bottom: -40px;
    display: none;
    @include transition(background-color 0.2s ease-in-out);
    cursor: pointer;
    z-index: 20;
    &:hover {
        background: $hover-green;
    }
    .upButton {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -3px;
        margin-left: -4px;
        opacity: 1;
        display: block;
        width: 8px;
        height: 8px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        @include transform(rotate(45deg));
    }
}