@charset "UTF-8";

// mixin //

@mixin border-radius($rads...) {
  -moz-border-radius: $rads;
  -webkit-border-radius: $rads;
  border-radius: $rads;
}
@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}
@mixin transform($transform) {
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}


/* ----------------------------------------------
 Connect fonts
 ---------------------------------------------- */

@font-face {
  font-family: 'MuseoSans100';
  src: url("fonts/Museo-Sans-Cyr/MuseoSansCyrl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans300';
  src: url("fonts/Museo-Sans-Cyr/MuseoSansCyrl_0.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans500';
  src: url("fonts/Museo-Sans-Cyr/MuseoSansCyrl_1.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans700';
  src: url("fonts/Museo-Sans-Cyr/MuseoSansCyrl_2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans900';
  src: url("fonts/Museo-Sans-Cyr/MuseoSansCyrl_3.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FedraSansProBookItalic';
  src: url("fonts/Fedra-Sans-Pro-Book-Italic_17237.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FedraSansProBoldItalic';
  src: url("fonts/Fedra-Sans-Pro-Bold-Italic_17236.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionProBoldCn';
  src: url("fonts/minion_pro/MinionPro-BoldCn.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


// color and fonts variable //

$main-green: #0c8412;
$text-grey: #333;
$hover-green: lighten($main-green, 10%);
$hover-black: lighten(#000, 30%);
$hover-grey: lighten(#333, 30%);
/*$bg-grey: #706969;*/


$museoSans100: "MuseoSans100";
$museoSans300: "MuseoSans300";
$museoSans500: "MuseoSans500";
$museoSans700: "MuseoSans700";
$museoSans900: "MuseoSans900";

$fedraSansProBookItalic: "FedraSansProBookItalic";
$fedraSansProBoldItalic: "FedraSansProBoldItalic";

$minionProBoldCn: "MinionProBoldCn";

/* ----------------------------------------------
 Reset
 ---------------------------------------------- */

* {
  margin: 0 auto;
}

/* ----------------------------------------------
 Main
 ---------------------------------------------- */

body {
  max-width: 2000px;
  margin: 0 auto;
  font: 17px $museoSans100;
  color: #000;
  background-color: #fff;
}
section {
  position: relative;
}
section:not(.pageheader) {
  min-height: 1080px;
}
.incontainer {
  padding: 0 45px;
}


/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */

h1 {
  margin-top: 20px;
  margin-bottom: 45px;
  font: 70px $museoSans900;
  color: $main-green;
  text-align: center;
}
h2 {
  margin-top: 140px;
  font-size: 107px;
}
h3 {
  font: 47px $museoSans700;
}
h4 {
  margin-top: 40px;
  font: 30px $museoSans700;
}

p {
  margin-bottom: 20px;
}

/* ----------------------------------------------
 Form Buttons Inputs Links Img
 ---------------------------------------------- */
a {
  color:inherit;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

.login-btn {
  float: right;
  width: 173px;
  height: 37px;
  padding: 0;
  margin: 25px 45px 25px 30px;
  font: 21px $museoSans700;
  color: #fff;
  background-color: $main-green;
  &:hover {
    color: #fff;
    background-color: $hover-green;
  }
}
.create-wallet-btn {
  width: 300px;
  height: 80px;
  font: 37px $museoSans700;
  color: #fff;
  background-color: $main-green;
  &:hover {
    color: #fff;
    background-color: $hover-green;
  }
}
.start-using-btn {
  width: 261px;
  height: 80px;
  margin-left: 5px;
  font: 37px $museoSans700;
  color: #fff;
  background-color: #000;
  &:hover {
    color: #fff;
    background-color: $hover-black;
  }
}
.mouse-scroll {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 40px;
  margin: 0 20px;
  bottom: -16px;
  background: url("../img/sprite.png") no-repeat -254px 0;
  &:hover {
    opacity: 0.7;
  }

}
.roadmap-btn {
  position: relative;
  width: 192px;
  height: 59px;
  padding-left: 60px;
  font: 24px $museoSans700;
  color: #fff;
  background-color: $main-green;
  span {
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    top: 50%;
    left: 18px;
    background: url("../img/sprite.png") no-repeat -384px 0;
  }
  &:hover {
    color: #fff;
    background-color: $hover-green;
  }
}
.splitter-contract-btn {
  position: relative;
  float: right;
  width: 186px;
  height: 35px;
  font: 13px $museoSans900;
  background-color: #e9f565;
  border: 2px solid #000;
  z-index: 20;
  &:hover {
    color: #e9f565;
    background-color: #000;
  }
}
.add-project {
  width: 227px;
  height: 71px;
  margin-top: 50px;
  font: 26px $museoSans700;
  color: #4fc56d;
  background-color: #000;
  @include box-shadow(0 12px 5px 0 rgba(0, 0, 0, 0.02));
  span {
    padding-right: 10px;
    font: 32px $museoSans900;
    color: #fff;
  }
  &:hover {
    color: #4fc56d;
    background-color: $hover-black;
  }
}


/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */

a, .btn {
  @include transition(all 0.2s ease-in-out 0s);
}


/* ----------------------------------------------
 Header
 ---------------------------------------------- */
header {
  position: relative;
  background-color: #fff;
  z-index: 50;
}
.pageheader {
  min-height: 100vh;
  padding-bottom: 102px;
  background: url("../img/bg_1.jpg") no-repeat fixed 50% -88px;
  background-size: cover;
}
.pageheader__content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  @include transform(translate(0%, -50%));
}
.pageheader__btn {
  text-align: center;
}

.top-menu {
  margin-bottom: 0;
  border: 0;
  li {
    font: 21px $museoSans700;
    color: $text-grey;
    a {
      padding: 33px 20px;
      line-height: 21px;
      &:focus, &:hover {
        background: none;
        color: $hover-grey;
      }
    }
  }
}
.logo {
  position: relative;
  height: auto;
  padding-top: 25px;
  padding-bottom: 12px;
  padding-left: 115px;
  font: 31px $museoSans900;
  text-transform: uppercase;
  line-height: 20px;
  span {
    display: block;
    font: 25px $museoSans300;
  }
  &:hover {
    color: $hover-black;
  }
}
.logo-icon {
  position: absolute;
  width: 64px;
  height: 115px;
  top: 15px;
  left: 31px;
  background: url("../img/sprite.png") no-repeat -128px 0;
}
.slogan {
  margin: 33px 100px;
  font-family: $fedraSansProBookItalic;
  color: #a1a1a1;
}

.company-icon {
  width: 105px;
  height: 191px;
  margin-bottom: 45px;
  background: url("../img/sprite.png") no-repeat 0 0;
}
.company-name {
  font: 68px $museoSans900;
  text-align: center;
  line-height: 42px;
  span {
    font: 42px $museoSans300;
    text-transform: uppercase;
  }
}

.pageheader__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 25px;
  text-align: center;
  span {
    font: 16px $fedraSansProBoldItalic;
    line-height: 77px;
  }
  .row > div:first-child span {
    font: 24px $museoSans700;
    color: $text-grey;
    line-height: 57px;
  }
}

/* ----------------------------------------------
 Footer
 ---------------------------------------------- */

footer {
  font: 18px $museoSans700;
  text-transform: uppercase;
  span {
    font: 11px $museoSans300;
  }
}
.pagefooter {
  font: 26px $museoSans300;
  h2 {
    text-align: center;
  }
  input {
    font: 22px $museoSans300;
  }
}
.social-submit {
  font: 27px $museoSans700;
  color: #fff;
}

/* ----------------------------------------------
 Sections
 ---------------------------------------------- */

.about {
  overflow: hidden;
  border-top: 1px solid #eaeaea;
  font: 14px $museoSans300;
  .container-fluid {
    padding: 0;
  }
  h2 {
    padding-left: 20%;
    margin-top: 90px;
    font: 79px $museoSans300;
    span {
      font-family: $museoSans700;
    }
  }
  span {
    font-family: $museoSans700;
  }
  a {
    font-size: 18px;
    text-decoration: underline;
    z-index: 20;
    &:hover {
      color: $hover-black;
      text-decoration: none;
    }
  }
  .link-git {
    font-size: 13px;
    color: #858585;
    text-decoration: none;
    &:hover {
      color: lighten(#858585, 20%);
    }
  }
}

.data {
  font-size: 19px;
}
.small{
  font-size: 12px;
  color: #757575;
}

.about__scroll {
  max-width: 100%;
  overflow-x: scroll;
}
.about__content{
  width: 2000px;
  height: 585px;
  overflow: auto;
  position: relative;
}
.about__diagram > div {
  position: absolute;
  top: 220px;
}

.diagram-bg {
  width: 2000px;
  height: 250px;
  top: 275px !important;
  left: 0;
  background: url("../img/sprite.png") no-repeat 0 -256px;
  z-index: 10;
}

.bitcoin {
  width: 190px;
  left: 145px;
  font-size: 38px;
}
.ethereum {
  width: 230px;
  left: 410px;
  font-size: 22px;
  p {
    margin-bottom: 10px;
  }
  span {
    font-size: 42px;
  }
}
.dao {
  width: 240px;
  left: 730px;
  font-size: 55px;
  line-height: 30px;
  span {
    font-size: 26px;
  }
  .dao__number {
    display: block;
    margin-top: 40px;
    font-size: 32px;
  }
  .data {
    line-height: 23px;
  }
}
.hack {
  width: 240px;
  left: 1128px;
  p {
    margin-bottom: 0;
  }
  span {
    font: 34px $minionProBoldCn;
  }
  .data {
    margin-bottom: 10px;
  }
}
.replay {
  position: relative;
  width: 363px;
  height: 166px;
  padding: 20px 16px 20px 55px;
  margin-top: 20px;
  margin-left: -55px;
  background-color: #e9f565;
  p {
    width: 200px;
    margin-bottom: 15px;
  }
  span {
    font: 20px $museoSans700;
  }
}
.replay-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 25px;
  right: 21px;
  background: url("../img/sprite.png") no-repeat -512px 0;
}

.hard-fork{
  width: 300px;
  left: 1465px;
  font-size: 23px;
  p {
    margin-bottom: 0;
  }
  span {
    font: 50px $museoSans900;
    text-transform: uppercase;
    line-height: 23px;
  }
  .data {
    margin-bottom: 20px;
  }
}
.percentage {
  margin-top: 50px;
  .small {
    margin-top: 10px;
  }
}
.choose-site {
  width: 200px;
  left: 1732px;
  p {
    margin-bottom: 0;
  }
  .data {
    margin-bottom: 75px;
  }
  > div {
    padding-left: 40px;
  }
}
.original {
  margin-bottom: 50px;
  span {
    font: 20px $museoSans900;
    text-transform: uppercase;
    line-height: 18px;
  }
  p:first-child span {
    font-size: 15px;
  }
}
.classic {
  font-size: 21px;
  span {
    font-size: 28px;
    line-height: 18px;
  }
  p:first-child span {
    font-size: 15px;
  }
}

.ideology {
  padding: 0 15px 0 60px;
}
.motivation {
  padding: 0 20px 0 50px;
}
.road-map {
  padding: 0 70px 0 25px;
}


.features {
  font: 19px $museoSans300;
  color: #fff;
  background-color: #706969;
  h2 {
    font-size: 177px;
  }
}
.features__block {
  padding-right: 20px;
}
.features__title {
  margin-top: 50px;
  margin-bottom: 30px;
  font: 29px $museoSans700;
}
.features__text {
  margin-left: 160px;
}
.ft-1 {
  color: #d9f4cc;
}
.ft-2 {
  color: #e8b97d;
}
.ft-3 {
  color: #fff;
}
.ft-4 {
  color: #f4e2cc;
}

.projects {
  background-color: #e2e2e2;
  h2 {
    font-size: 95px;
    color: #3aaa57;
  }
}
.projects__header {
  position: relative;
  margin-bottom: 30px;
}
.projects__menu {
  position: absolute;
  right: 32px;
  bottom: 10px;
  font: 21px $museoSans300;
  li a {
    border: 1px solid transparent;
  }
  li.active a, li a:hover, li.active a:hover {
    color: #000;
    background-color: #fff;
    border-color: #000;
  }
}
.projects__block {
  position: relative;
  float: left;
  width: 220px;
  height: 258px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  font: 24px $museoSans700;
  background-color: #fff;
  @include border-radius(4px);
  @include box-shadow(0 12px 5px 0 rgba(0, 0, 0, 0.02));
  p {
    margin-bottom: 0;
  }
  span {
    font: 25px $museoSans300;
    color: #a9afa7;
  }
  a {
    font-size: 20px;
    color: #4b5649;
  }
  .live-link {
    color: #2b9446;
  }
  .links {
    width: 180px;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
.projects__block:nth-child(5) {
  margin-right: 0;
}
.github {
  float: right;
  display: block;
  width: 26px;
  height: 26px;
  background: url("../img/sprite.png") no-repeat -640px 0;
  &:hover {
  opacity: 0.7;
  }
}


.roadmap {
  font: 25px $museoSans300;
  h2 {
    font-size: 95px;
    color: #3aaa57;
  }
  p {
    margin-bottom: 30px;
  }
  span {
    font: 29px $museoSans700;
  }
  a {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font: 27px $museoSans500;
    text-decoration: underline;
    &:hover {
      color: $hover-black;
      text-decoration: none;
    }
  }
}
.roadmap__block {
  position: relative;
  width: 1180px;
  height: 492px;
  padding: 40px 720px 40px 50px;
  margin-top: 60px;
  margin-left: 0;
  background: url("../img/bg_2.jpg") no-repeat;
}
.roadmap__img {
  position: absolute;
  width: 725px;
  height: 375px;
  right: -177px;
  bottom: -68px;
  background: url("../img/broshure.png") no-repeat;
}


.community {
  color: #fff;
  background-color: #504942;
  h2 {
    margin-bottom: 50px;
  }
  h3 {
    font: 37px $museoSans700;
    color: #d6be7f;
  }
}
.community__header {
  position: relative;
}
.community__links {
  position: absolute;
  bottom: 10px;
  right: 0;
  font: 16px $museoSans300;
  a {
    float: left;
    margin-left: 20px;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
  span {
    font-size: 36px;
  }
  > div {
    float: left;
    + div {
      margin-left: 50px;
    }
  }
}
.community__left {
  font-size: 34px;
  p {
    margin-bottom: 10px;
  }
}
.community__right {
  li {
    font: 16px $museoSans300;
    span {
      font-size: 14px;
      color: #747474;
    }
    a {
      color: #fff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  > a {
    font: 17px $museoSans700;
    &:hover {
      color: #fff;
    }
  }
}

.news-block {
  position: relative;
  width: 320px;
  height: 192px;
  padding: 20px;
  margin: 0 0 20px;
  font: 25px $minionProBoldCn;
  border: 2px solid #d6be7f;
  p:first-child {
    font: 23px $museoSans700;
    color: #d6be7f;
  }
  p:last-child {
    position: absolute;
    width: 100%;
    padding: 20px;
    margin: 0;
    bottom: 0;
    left: 0;
  }
}
.news-date {
  position: absolute;
  right: 20px;
  bottom: 29px;
  font: 9px $museoSans700;
  color: #efefef;
}
.news-list {
  font-size: 24px;
  li {
    position: relative;
    width: 320px;
    height: 115px;
    padding: 15px 0;
    margin: 0;
    line-height: 17px;
    border-top: 1px solid #5a5551;
    &:last-child {
      border-bottom: 1px solid #5a5551;
    }
  }
  span {
    font: 17px $museoSans700;
  }
  > a {
    font: 17px $museoSans700;
    color: #fff;
  }
  .news-date {
    bottom: 20px;
    font: 9px $museoSans700;
    color: #6d6d6d;
  }
}
.category-link {
  position: absolute;
  left: 80px;
  bottom: 20px;
  font: 15px $museoSans300;
  color: #d6be7f;
  &:hover {
    color: #d6be7f;
  }
}
.community__right {
  ul {
    margin-bottom: 20px;
  }
  li {
    width: 780px;
    height: 58px;
    padding: 15px 0;
    margin: 0;
    line-height: 17px;
    border-top: 1px solid #625d57;
    &:last-child {
      border-bottom: 1px solid #625d57;
    }
    span {
      float: right;
    }
  }
}

.miners {
  color: #fff;
  background-color: #090909;
  h2 {
    margin-bottom: 50px;
    color: #504942;
  }
  h3 {
    font: 25px $museoSans700;
    color: #c5a789;
    a {
      text-decoration: underline;
      &:hover {
        color: #c5a789;
        text-decoration: none;
      }
    }
  }
  li {
    font: 36px $minionProBoldCn;
    span {
      font-size: 20px;
      color: #aaa;
    }
  }
}
.miners__list {
  margin: 0 -300px 80px;
  li {
    position: relative;
    float: left;
    padding-left: 80px;
    margin-right: 70px;
    .small {
      display: block;
      text-align: right;
    }
  }
}
.miners__right {
  padding-right: 85px;
  span {
    font: 23px $museoSans700;
  }
}
.miners-left {
  h3 {
    margin-bottom: 40px;
    font-size: 27px;
  }
  li {
    margin-bottom: 17px;
    font: 15px $museoSans900;
    text-transform: uppercase;
  }
}


.voting {
  h2 {
    margin-bottom: 100px;
    color: #040404;
  }
  h3 {
    font: 28px $museoSans500;
  }
}
.voting__content {
  padding: 0 50px 0 100px;
  p {
    float: left;
    margin-bottom: 10px;
  }
}
.voting__top-list {
  font: 14px $museoSans500;
  color: #424242;
  text-transform: uppercase;
  border-bottom: 1px solid #dbdbdb;
  p {
    width: 160px;
    padding-left: 20px;
  }
  .voting__name {
    width: 260px;
    padding-left: 0;
  }
}
.voting__list {
  position: relative;
  padding: 18px 0;
  font: 16px $museoSans500;
  color: #424242;
  text-transform: uppercase;
  border-bottom: 1px solid #dbdbdb;
  span {
    display: block;
    font: 12px $museoSans500;
    text-transform: none;
    color: #787878;
  }
  .small {
    text-transform: uppercase;
  }
  .voting__name {
    width: 260px;
    padding-left: 70px;
    font: 20px $museoSans900;
  }
  input[type='checkbox'] {
    display: none;
  }
  label {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #ececec;
    @include border-radius(4px);
    @include box-shadow(0 3px 3px rgba(16, 16, 16, 0.15));
  }
}

.voting__name2 {
  width: 560px;
  padding-left: 70px;
  margin-top: 10px;
  font: 30px $museoSans900;
}
.voting__graph-bottom{
  font: 30px $museoSans500;
  span {
    font-size: 14px;
    color: #787878;
  }

}

.voting-btn-1, .voting-btn-3 {
  font: 20px $museoSans900;
  text-transform: uppercase;
}
.voting-btn-2 {
  font: 17px $museoSans900;
}


.metrics {
  font: 23px $museoSans300;
  color: #fff;
  background-color: #4b4b4b;
}
.metrics__content {
  text-transform: uppercase;
}
.metrics__top-list {
  font-size: 11px;
  border-bottom: 1px solid #5a5a5a;
  p:first-child {
    font-size: 18px;
    text-transform: none;
  }
}
.metrics__list {
  border-bottom: 1px solid #5a5a5a;
}
.metrics__legend {
  font-size: 11px;
}



.developers {
  h2 {
    color: #c38f44;
  }
  h3 {
    font: 67px $museoSans700;
    color: #c38f44;
    span {
      font-size: 37px;
    }
  }
  p {
    font: 20px $museoSans700;
    color: #3a3a3a;
  }
  .small {
    font: 15px $museoSans100;
  }
}
.developers-links {
  p {
    font-size: 34px;
    color: #000;
  }
  a {
    font: 17px $museoSans300;
    color: #000;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.developers__video {
  p {
    font-size: 22px;
    color: #000;
  }
}
.developers__learn > p a {
  font-size: 13px;
  color: #c38f44;
}


.traders {
  font-family: $museoSans300;
  background-color: #ececec;
  h2 {
    font-family: $museoSans100;
    color: #5f4428;
  }
}
.traders__left p:first-child {
  font: 33px $museoSans700;
}
.traders__right {
  p{
    font: 27px $museoSans700;
    color: #5f4428;
  }
  li {
    font: 15px $museoSans900;
    color: #070707;
    text-transform: uppercase;
  }
}



.blue {
  color: #10a0de;
}
.orange {
  color: #fd8800;
}
.yellow {
  color: #ffd162;
}
.red {
  color: #f74b4b;
}
.green {
  color: #33cb2f;
}
.grey {
  color: #898989;
}

/*Backgrounds-icon*/

.icon {
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
}

.features__icon1, .features__icon2, .features__icon3, .features__icon4 {
  width: 135px;
  height: 135px;
  left: 15px;
}
.features__icon1 {
  background-position: 0 -576px;
}
.features__icon2 {
  background-position: -192px -576px;
}
.features__icon3 {
  background-position: -384px -576px;
}
.features__icon4 {
  background-position: -576px -576px;
}
.miners1, .miners2, .miners3, .miners4, .miners5, .miners6 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
}
.miners1 {
  background-position: 0 -832px;
}
.miners2 {
  background-position: -128px -832px;
}
.miners3 {
  background-position: -256px -832px;
}
.miners4 {
  background-position: -384px -832px;
}
.miners5 {
  background-position: -512px -832px;
}
.miners6 {
  background-position: -640px -832px;
}

.slack-chanel-icon, .gitter-chanel-icon {
  display: block;
  float: left;
  width: 70px;
  height: 70px;
  background: url("../img/sprite.png") no-repeat;
}
.slack-chanel-icon {
  background-position:  -768px 0;
}
.gitter-chanel-icon {
  background-position: -896px 0;
}

.news-icon {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-right: 20px;
  @include border-radius(4px);
}
.new1 {
  background: url("../img/news_icon_1.png") no-repeat;
  background-size: cover;
}
.new2 {
  background: url("../img/news_icon_2.png") no-repeat;
  background-size: cover;
}
.voting-graph-icon {
  width: 107px;
  height: 40px;
  margin-right: 60px;
  background: url("../img/vote_graph_small.png") no-repeat;
}
