@charset "UTF-8";

// mixin //

@mixin box-sizing($box-sizing) {
  -moz-box-sizing: $box-sizing;
  -webkit-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}
@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}
@mixin border-radius($rads...) {
  -moz-border-radius: $rads;
  -webkit-border-radius: $rads;
  border-radius: $rads;
}
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
@mixin transform($transform) {
  -ms-transform: $transform;
  -moz-transform: $transform;
  -webkit-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}
@mixin animation-delay($animation-delay) {
  -webkit-animation-delay: $animation-delay;
  animation-delay: $animation-delay;
}
@mixin animation-name($animation-name) {
  -webkit-animation-name: $animation-name;
  animation-name: $animation-name;
}
/*
@mixin user-select($user-select) {
  -ms-user-select: $user-select;
  -moz-user-select: $user-select;
  -webkit-user-select: $user-select;
  user-select: $user-select;
}
@mixin transform-origin($transform-origins...) {
  -ms-transform-origin: $transform-origins;
  -moz-transform-origin: $transform-origins;
  -webkit-transform-origin: $transform-origins;
  -o-transform-origin: $transform-origins;
  transform-origin: $transform-origins;
}
@mixin column-count($column-count) {
  -webkit-column-count: $column-count;
  -moz-column-count: $column-count;
  column-count: $column-count;
}*/


// color and fonts variable //

$main-color: #ff8b1b;

$hover-menu: #66380b;

$btn-color: #ff7d00;
$placeholder-color: #666;

$request-color: #c43434;

$hover-request-color: #e62727;

$bg-color: #f5f0ea;

$roboto: 'Roboto', sans-serif;;


/* ----------------------------------------------
 Reset
 ---------------------------------------------- */
* {
  padding: 0;
  margin: 0 auto;
  @include box-sizing(border-box);
}

/* ----------------------------------------------
 Main
 ---------------------------------------------- */

html, body, section {
  width: 100%;
}
body {
  position: relative;
  min-width: 320px;
  font: 16px $roboto;
  color: #333;
  background-color: #fff;
}
section {
  padding: 40px 0;
}
.container {
  position: relative;
  width: 1000px;
  padding: 0 10px;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
.thanks-page {
  height: 100%;
}
.hidden {
  display: none;
}

/* ----------------------------------------------
 Fonts Paragrahps
 ---------------------------------------------- */
h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  color: $main-color;
  text-transform: uppercase;
}
h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  color: $main-color;
  text-transform: uppercase;
  text-align: center;
  span {
    color: #333;
  }
}
h3 {
  font-size: 20px;
  font-weight: 700;
  color: $main-color;
  text-transform: uppercase;
}
h4 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
h5 {
  font-size: 15px;
  font-weight: 700;
}

/* ----------------------------------------------
 Links Img
 ---------------------------------------------- */

a {
  color:inherit;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}

/* ----------------------------------------------
 Form Buttons Inputs
 ---------------------------------------------- */

.btn {
  display: block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: $btn-color;
  border: none;
  @include border-radius(4px);
  cursor: pointer;
}

form {
  position: relative;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  span {
    font-size: 11px;
    font-weight: normal;
    color: #666;
  }
}
.form__block {
  width: 338px;
  height: 178px;
  padding: 15px 20px;
  margin: 20px -20px 15px;
  font-size: 15px;
  font-weight: normal;
  background-color: $bg-color;
  > p {
    padding-left: 10px;
    margin-bottom: 5px;
  }
  sup {
    color: $request-color;
  }
}
input {
  width: 100%;
  height: 42px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #DFC3A7;
  @include border-radius(5px);
  @include box-shadow(none);
}
input[type='text'] {
  font-style: italic;
}
textarea {
  width: 100%;
  height: 102px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #DFC3A7;
  @include border-radius(5px);
  @include box-shadow(none);
}

.submit {
  font-weight: 900;
  @include border-radius(6px);
  @include box-shadow(0 3px 0 0 #ab5400);
  &:hover {
    @include box-shadow(none);
  }
}

.order-call-btn {
  display: inline-block;
  width: 176px;
  height: 33px;
  margin: 3px 0 7px;
  font-size: 13px;
  line-height: 31px;
  background-color: $request-color;
  &:hover {
    background-color: $hover-request-color;
  }
}

.order-goods-btn {
  position: absolute;
  width: 158px;
  height: 32px;
  margin-left: -79px;
  left: 50%;
  bottom: 20px;
  font-size: 14px;
  color: $main-color;
  line-height: 29px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $main-color;
  @include border-radius(5px);
  &:hover {
    color: #333;
    background-color: $main-color;
  }
}



/* ---------------------------------------------- /*
 Transition elsements
/* ---------------------------------------------- */

a, .btn {
  @include transition(all 0.2s ease-in-out 0s);
}

/* ----------------------------------------------
 Header
 ---------------------------------------------- */

header{
  position: absolute;
  width: 100%;
  height: 176px;
  padding-top: 10px;
  top: 0;
  left: 0;
  color: #000;
  background-color: rgba(255, 255, 255, 0.9);
  span {
    font-size: 24px;
    font-weight: 700;
  }
}

.logo {
  float: left;
  font-size: 33px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 20px;
  span {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
  }
  a:hover {
    opacity: 0.7;
  }
}
.logo-title {
  font-size: 40px;
  font-weight: 900;
  color: $main-color;
  line-height: 48px;
}
.order-call {
  position: relative;
  float: right;
  width: 225px;
  text-align: right;
  p:first-child {
    font-size: 15px;
  }
  .work-time {
    font-size: 12px;
  }
}
.header__contacts {
  padding-top: 12px;
  padding-right: 74px;
  text-align: center;
  > p:not(.slogan) {
    display: inline-block;
    margin-left: 10px;
  }
  .slogan {
    width: 250px;
    margin-bottom: 5px;
    line-height: 24px;
  }
}
.top-menu {
  position: absolute;
  width: 100%;
  height: 42px;
  top: 134px;
  left: 0;
  font-size: 18px;
  color: #fff;
  background-color: $main-color;
  .container {
    padding-right: 0;
  }
  nav {
    margin-left: -15px;
  }
  li {
    float: left;
    &.active a{
      background-color: $hover-menu;
    }
  }
  a {
    display: block;
    padding: 8px 11px 10px;
    background-color: $main-color;
    &:hover {
      background-color: $hover-menu;
    }
  }
}

/*Mobile menu*/
#m-menu:not( .mm-menu ) {
  display: none;
}
.mobile-nav {
  visibility: hidden;
}
#m-menu-btn-wrapper {
  padding: 0;
  background-color: $main-color;
  width: 100%;
  top: 0;
  z-index: 50;
}
.menu-button {
  cursor: pointer;
  padding: 0;
}
.hamburger {
  padding: 9px 15px;
  background-color: $main-color;
  width: 70px;
  margin: 0;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  position: relative; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
}
.hamburger-inner {
  &::before, &::after {
    content: "";
    display: block; }
  &::before {
    top: -10px; }
  &::after {
    bottom: -10px; }
}

.hamburger--collapse {
  .hamburger-inner {
    top: auto;
    bottom: 0;
    @include transition(transform 0.15s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19));
    &::after {
      top: -20px;
      @include transition(top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear);
    }
    &::before {
      @include transition(top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19));
    }
  }
}

html.mm-opening .hamburger--collapse .hamburger-inner {
  @include transform(translate3d(0, -10px, 0) rotate(-45deg));
  @include transition(transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1));
}
html.mm-opening .hamburger--collapse .hamburger-inner::after {
  top: 0;
  opacity: 0;
  @include transition(top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear)
}
html.mm-opening .hamburger--collapse .hamburger-inner::before {
  top: 0;
  @include transform(rotate(-90deg));
  @include transition(top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1));
}

/* ----------------------------------------------
 Footer
 ---------------------------------------------- */
footer {
  min-height: 210px;
  padding: 15px 0;
  background-color: #d5d0cc;
  span {
    font-size: 24px;
    font-weight: 700;
  }
  .order-call {
    color: #000;
  }
  .develop {
    margin-top: 65px;
    font-size: 14px;
    text-transform: none;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }
  }
}
.footer__contacts {
  width: 50%;
  .title {
    font-weight: 900;
  }
  p {
    margin-bottom: 4px;
    &:last-child {
      margin-top: 20px;
      text-align: center;
    }
  }
  a {
    font-size: 14px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}


/* ----------------------------------------------
 Sections
 ---------------------------------------------- */

/*pageheader*/
.pageheader {
  min-height: 750px;
  padding-top: 176px;
  .order-form {
    float: right;
    margin-top: 80px;
  }
}
.pageheader__text {
  float: left;
  max-width: 610px;
  margin-top: 185px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  h1, p {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .7);
  }
}
.order-form {
  width: 338px;
  height: 391px;
  background-color: #fff;
  form p:last-child {
    margin-top: 15px;
    text-align: center;
    line-height: 12px;
  }
}

/*description*/
.description {
  min-height: 920px;
  font-size: 14px;
}
.description__block {
  position: relative;
  height: 720px;
  > div {
    max-width: 280px;
    position: absolute;
  }
  .block-1 {
    top: 45px;
    left: 20px;
  }
  .block-2 {
    top: 155px;
    left: 0;
  }
  .block-3 {
    top: 265px;
    left: 0          ;
  }
  .block-4 {
    top: 375px;
    left: 0;
  }
  .block-5 {
    top: 505px;
    left: 10px;
  }
  .block-6 {
    top: 5px;
    left: 245px;
  }
  .block-7 {
    top: 560px;
    left: 245px;
  }
  .block-8 {
    top: 650px;
    left: 245px;
  }
  .block-9 {
    top: 5px;
    left: 490px;
  }
  .block-10 {
    top: 545px;
    left: 490px;
  }
  .block-11 {
    top: 45px;
    left: 735px;
  }
  .block-12 {
    top: 155px;
    left: 755px;
  }
  .block-13 {
    top: 265px;
    left: 775px;
  }
  .block-14 {
    top: 390px;
    left: 755px;
  }
  .block-15 {
    top: 515px;
    left: 735px;
  }
}

/*structure*/
.structure {
  min-height: 960px;
  h3 {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: none;
  }
}
.structure__block {
  min-height: 375px;
  padding-top: 25px;
  > div {
    float: left;
    width: 50%;
  }
}
.structure-text {
  padding-left: 95px;
  > div {
    min-height: 160px;
  }
  p {
    position: relative;
    padding-left: 65px;
    font-style: italic;
    line-height: 54px;
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 54px;
      height: 54px;
      top: 0;
      left: 0;
      background: url("../images/sprite.png") no-repeat;
    }
  }
  .structure-text-bg1:after, .structure-text-bg4:after {
    left: 50px
  }
  .structure-text__right {
    padding-left: 115px;
  }
  .marker {
    position: absolute;
    display: block;
    bottom: 27px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      top: -4px;
      left: -8px;
      background-color: #333;
      @include border-radius(50%);
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      border-bottom: 1px solid #333;
    }
  }
  .marker-1 {
    width: 195px;
    height: 22px;
    left: -207px;
    &:after {
      width: 65px;
      right: -65px;
    }
  }
  .marker-2 {
    width: 231px;
    height: 45px;
    left: -261px;
    &:after {
      width: 35px;
      right: -35px;
    }
  }
  .marker-3 {
    width: 180px;
    height: 70px;
    left: -215px;
    &:after {
      width: 35px;
      right: -35px;
    }
  }
  .marker-4 {
    width: 168px;
    height: 92px;
    left: -235px;
    &:after {
      width: 120px;
      right: -120px;
    }
  }
}
.structure__table {
  font-size: 14px;
  .table-line {
    padding-left: 40px;
    min-height: 32px;
    line-height: 32px;
    background-color: #f9f5f1;
    > div {
      float: left;
    }
  }
  .table-name {
    color: #666;
    background-color: #e2dbd2;
  }
  .cell-1 {
    width: 595px;
  }
  .cell-2 {
    width: 345px;
  }
}
.table-line::after {
  content: '';
  display: table;
  clear: both;
}

/*model*/
.model {
  min-height: 798px;
}
.model__block {
  position: relative;
  text-align: center;
  > div {
    position: absolute;
  }
  p {
    margin-top: 10px;
    font-style: italic;
    /*border-bottom: 2px solid $main-color;*/
  }
  > img {
    max-width: 490px;
    margin-top: 205px;
  }
}
.model-marker {
  position: absolute;
  display: block;
  border: 2px solid $main-color;
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
  }
}
.model-1 {
  top: 45px;
  left: 20px;
  img {
    max-width: 145px;
  }
  .model-marker {
    width: 210px;
    height: 34px;
    bottom: -38px;
    border-left: none;
    border-bottom: none;
    span {
      position: absolute;
      display: block;
      width: 15px;
      bottom: 0;
      right: -17px;
      border-bottom: 2px solid $main-color;
    }
    &:before {
      width: 129px;
      bottom: 0;
      right: -146px;
      border-bottom: 2px solid #fff;
    }
    &:after {
      bottom: -4px;
      right: -166px;
      border-top: 5px solid transparent;
      border-left: 20px solid #fff;
      border-bottom: 5px solid transparent;
    }
  }
}
.model-2 {
  top: 15px;
  left: 395px;
  img {
    max-width: 245px;
  }
  .model-marker {
    width: 200px;
    height: 50px;
    left: 20px;
    bottom: -54px;
    border-right: none;
    border-bottom: none;
    &:before {
      height: 47px;
      left: -2px;
      bottom: -47px;
      border-left: 2px solid #fff;
    }
    &:after {
      bottom: -67px;
      left: -6px;
      border-left: 5px solid transparent;
      border-top: 20px solid #fff;
      border-right: 5px solid transparent;
    }
  }
}
.model-3 {
  top: 65px;
  left: 800px;
  img {
    max-width: 168px;
  }
  .model-marker {
    width: 227px;
    right: 5px;
    bottom: -4px;
    border-top: none;
    border-right: none;
    border-left: none;
    &:before {
      width: 85px;
      left: -85px;
      bottom: -2px;
      border-bottom: 2px solid #fff;
    }
    &:after {
      bottom: -6px;
      left: -105px;
      border-top: 5px solid transparent;
      border-right: 20px solid #fff;
      border-bottom: 5px solid transparent;
    }
  }
}
.model-4 {
  top: 407px;
  left: 0;
  img {
    max-width: 206px;
  }
  .model-marker {
    width: 342px;
    height: 118px;
    left: 20px;
    bottom: -4px;
    border-left: none;
    border-top: none;
    &:before {
      height: 55px;
      right: -2px;
      bottom: 116px;
      border-left: 2px solid #fff;
    }
    &:after {
      bottom: 171px;
      right: -6px;
      border-left: 5px solid transparent;
      border-bottom: 20px solid #fff;
      border-right: 5px solid transparent;
    }
  }
}
.model-5 {
  top: 413px;
  left: 800px;
  img {
    max-width: 182px;
  }
  .model-marker {
    width: 465px; /*445*/
    height: 125px;
    right: 0;
    bottom: -4px;
    border-right: none;
    border-top: none;
    &:before {
      height: 13px;
      left: -2px;
      bottom: 123px;
      border-left: 2px solid #fff;
    }
    &:after {
      bottom: 136px;
      left: -6px;
      border-left: 5px solid transparent;
      border-bottom: 20px solid #fff;
      border-right: 5px solid transparent;
    }
  }
}

/*work-with*/
.work-with {
  min-height: 315px;
}
.work-with__block {
  > div {
    div {
      float: left;
      width: 50%;
      margin-top: 10px;
      text-align: center;
    }
    &:first-child div {
      width: 25%;
      margin-bottom: 30px;
    }
  }
  a:hover {
    opacity: 0.7;
  }
}

/*price-list*/
.price-list {
  min-height: 465px;
  padding-bottom: 15px;
  h2 {
    margin-bottom: 0;
    text-transform: none;
    text-align: left;
  }
  h4 {
    margin-bottom: 20px;
    font-weight: normal;
    text-align: left;
  }
  p {
    font-size: 18px;
  }
}
.price-list__block {
  position: relative;
  .catalog {
    position: absolute;
    top: -40px;
    right: 35px;
    z-index: 1;
  }
}
.price-list__content {
  position: relative;
  width: 300px;
  height: 264px;
  padding: 35px 0;
  margin: 15px 0;
  border: 2px solid $main-color;
  p {
    font-size: 12px;
    color: #999;
  }
  .title {
    position: absolute;
    padding-right: 5px;
    top: -20px;
    left: -3px;
    font-size: 24px;
    font-weight: 900;
    color: $main-color;
    background-color: #fff;
  }
  > div {
    float: left;
    width: 50%;
    height: 110px;
    padding-left: 35px;
  }
}


/*order-price-list*/
.order-price-list {
  position: relative;
  min-height: 144px;
  padding: 20px 0;
  z-index: 5;
  form {
    padding: 0;
    span {
      font-size: 13px;
    }
  }
  .form__block {
    float: left;
    width: 35%;
    height: 77px;
    padding: 0 40px 0 0;
    margin: 0;
  }
  .submit {
    float: left;
    width: 30%;
    max-width: 298px;
    height: 50px;
    margin-top: 20px;
  }
}


/*privilege*/
.privilege {
  min-height: 737px;
  h2 {
    margin-bottom: 45px;
  }
}
.privilege__block {
  position: relative;
}
.privilege__content {
  padding-left: 245px;
  > div {
    display: inline-block;
    width: 32%;
    padding-left: 50px;
    margin-bottom: 30px;
    vertical-align: top;
  }
}


/*bestsellers*/
.bestsellers__block {
  font-size: 18px;
  color: #000;
  p {
    font-weight: 700;
  }
  .title {
    font-weight: normal;
    font-style: italic;
  }
  img {
    @include box-shadow(2.5px 4.33px 10px 0 rgba(1, 3, 3, 0.059));
  }
  > div {
    position: relative;
    float: left;
    width: 25%;
    height: 297px;
    text-align: center;
    p:not(.title) {
      position: absolute;
      bottom: 60px;
      width: 100%;
    }
  }
}


/*work-scheme*/
.work-scheme {
  min-height: 732px;
  padding-bottom: 10px;
  h2 {
    margin-bottom: 40px;
  }
}
.work-scheme__block {
  color: #000;
  a {
    font-size: 14px;
    color: $main-color;
    text-transform: uppercase;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  > div {
    float: left;
    width: 33.3%;
    height: 201px;
    padding: 0 49px;
    text-align: center;
  }
  .icon-block {
    position: relative;
    width: 63px;
    height: 64px;
    background-color: #fff;
    border: 3px solid #dedede;
    @include border-radius(50%);
    > p {
      position: absolute;
      width: 26px;
      height: 26px;
      top: -8px;
      right: 0;
      font-size: 13px;
      font-weight: 700;
      color: #fff;
      background-color: $main-color;
      border: 3px solid $bg-color;
      @include border-radius(50%);
    }
  }
}


/*call-gager*/
.call-gager {
  position: relative;
  padding: 0;
  min-height: 317px;
  h2, h4 {
    text-align: right;
  }
  h2 {
    margin-bottom: 0;
    text-transform: none;
  }
  h4 {
    font-size: 21px;
    font-weight: normal;
  }
  .order-form {
    float: right;
    width: 340px;
    height: 317px;
    background-color: transparent;
    border: 1px solid $main-color;
  }
  .form__block {
    height: auto;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;

  }
}
.call-gager__title {
  position: relative;
  float: left;
  width: 610px;
  padding-left: 280px;
  margin: 30px 0 0;
}


/*visualization*/
.visualization {
  min-height: 720px;
  h2 {
    margin-top: 40px;
  }
  h4 span {
    display: block;
    color: $main-color;
  }
}


/*order-3D*/
.order-3D {
  .order-3D-text span {
    font-size: 16px;
  }
}
.order-3D-text {
  font-size: 16px;
  font-weight: normal;
  color: #666;
  span {
    color: $btn-color;
    b {
      color: inherit;
    }
  }
  b {
    font-weight: 700;
    color: #000;
  }
}


/*honors*/
.honors {
  min-height: 475px;
}
.honors__block {
  text-align: center;
  > div {
    position: relative;
    display: inline-block;
    width: 250px;
    text-align: center;
    cursor: pointer;
    &:hover {
      .hover-img {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
.hover-img {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 126px;
  height: 171px;
  margin-left: -63px;
  top: 63px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  @include transition(all 0.2s ease-in-out 0s);
}




/*feedback*/
.feedback {
  min-height: 600px;
  h2 {
    margin-bottom: 45px;
  }
}
.feedback__block {
  font-style: italic;
  color: #303030;
  text-align: center;
}
.feedback-client-name {
  font-size: 18px;
  font-weight: 700;
  color: $main-color;
}


/*consultation*/
.consultation {
  min-height: 384px;
  position: relative;
  padding-top: 60px;
  font-size: 18px;
  h2, h4 {
    text-align: left;
  }
  h2 {
    margin-bottom: 0;
    text-transform: none;
  }
  h4 {
    margin-bottom: 40px;
    font-weight: normal;
  }
}
.consultation__block {
  p {
    padding-top: 10px;
    padding-left: 58px;
  }
  > div {
    min-height: 48px;
    margin-bottom: 10px;
  }
}

/*order-consultation*/
.order-consultation {
  .form {
    > p {
      text-align: center;
      clear: both;
      sup {
        color: #ff0000;
      }
    }
    span {
      font-size: 12px;
    }
  }
  .form__block {
    width: 22%;
    padding-right: 20px;
  }
  .form__block-time {
    width: 25%;
  }
}
.time-block {
  p, input {
    float: left;
  }
  p {
    margin-right: 7px;
    line-height: 42px;
  }
  input {
    width: 72px;
    margin-right: 20px;
    padding-left: 15px;
    font-style: normal;
    color: #999;
  }
}


/*compare*/
.compare__table {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  p {
    line-height: 20px;
  }
  .table-column {
    float: left;
    > div {
      min-height: 60px;
      padding: 10px 20px;
      border-bottom: 1px solid #dedede;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .column-name {
    font-weight: 700;
    text-transform: uppercase;
    h3 {
      color: #fff;
      text-transform: none;
      text-align: center;
    }
  }
  .column-1 {
    width: 240px;
    min-height: 875px;
    margin-top: 131px;
    border: 1px solid #999;
    border-right: none;
    .column-name {
      height: 60px;
      padding: 20px;
      background-color: #dfdfdf;
      border-bottom: 1px solid #999;
    }
  }
  .column-2 {
    width: 370px;
    min-height: 1006px;
    border: 2px solid $main-color;
    .column-name {
      height: 191px;
      padding: 0;
      border-bottom: 2px solid $main-color;
      text-align: center;
      > div {
        position: relative;
        padding: 15px;
        margin-bottom: 5px;
        background-color: $main-color;
      }
    }
    > div {
      padding-left: 30px;
    }
  }
  .column-3 {
    width: 370px;
    min-height: 984px;
    margin-top: 22px;
    border: 2px solid #765936;
    border-left: none;
    > div {
      padding-left: 15px;
    }
    .column-name {
      position: relative;
      height: 169px;
      padding: 0;
      border-bottom: 2px solid #765936;
      > div {
        padding: 15px;
        background-color: #765936;
      }
      img {
        position: absolute;
        top: 45px;
        left: 80px;
      }
    }
  }
}
.compare__block {
  padding: 0 20px;
  h5 {
    margin: 25px auto;
    font-size: 18px;
  }
  li {
    list-style: decimal inside;
  }
  ol, ol + p {
    margin-bottom: 20px;
  }
}
.recommendation {
  margin-bottom: 20px;
  font-weight: 700;
  color: $main-color;
}


/*portfolio*/
.portfolio-slider {
  width: 100%;

  .slide {
    &>div {
      position: relative;
      font-size: 0;
      cursor: pointer;
      &:hover {
        .hover-img {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .hover-img {
      width: 100%;
      height: 100%;
      margin-left: 0;
      top: 0;
      left: 0;
    }
  }
}

.portfolio {
  min-height: 575px;
  h2 {
    margin-bottom: 40px;
  }
}


/*installation*/
.installation {

}
.installation__block {
  > div {
    float: left;
  }
  .side-panel {
    width: 245px;
    margin-top: 20px;
    font-size: 0;
  }
}

.installation__table {
  position: relative;
  width: 490px;
  padding: 0 30px 20px 20px;
  background-color: #f4f4f4;
  &:before, &:after {
    content: "";
    position: absolute;
    width: 50%;
    max-width: 300px;
    height: 20%;
    bottom: 15px;
    left: 10px;
    @include box-shadow(0 15px 10px rgba(0, 0, 0, 0.5));
    @include transform(rotate(-3deg));
    z-index: -2;
  }
  &:after {
    right:10px;
    left:auto;
    @include transform(rotate(3deg));
  }
  span {
    font-weight: 700;
  }
  .table-line {
    padding: 16px 0;
    border-bottom: 1px solid #e7e7e7;
    &:last-child {
      border-bottom: none;
    }
    > div {
      float: left;
    }
  }
  .table-name {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: $request-color;
    text-align: center;
  }
  .accent-line {
    span {
      color: $main-color;
    }
  }
  .cell-1 {
    width: 60%;
    p:last-child {
      color: #999;
    }
  }
  .cell-2 {
    width: 40%;
    text-align: right;
  }
}


/*contact-us*/
.contact-us {
  min-height: 462px;
  padding: 0;
  h2 {
    display: inline;
    position: relative;
    padding-right: 15px;
    text-transform: none;
    text-align: left;
    background-color: $bg-color;
    z-index: 5;
    p {
      display: inline;
      font-size: 72px;
      line-height: 50px;
      &:last-child {
        font-size: 60px;
        line-height: 70px;
      }
    }
  }
  .order-form {
    width: 340px;
    height: 462px;
    background-color: $bg-color;
    border: 1px solid $main-color;
    h3 {
      font-size: 26px;
      + p {
        padding-bottom: 15px;
        font-size: 24px;
        border-bottom: 1px solid $main-color;
      }
    }
  }
  form {
    span {
      font-size: 18px;
    }
    b {
      font-weight: 700;
      color: $main-color;
    }
    p:last-child {
      line-height: normal;
    }
  }
  .form__block {
    height: auto;
    margin: 0 -20px 5px;
  }
}
.contact-us__block {
  clear: both;
  > div {
    position: relative;
    float: left;
    width: 33.3%;
    &:first-child {
      margin-top: 30px;
    }
    &:last-child {
      float: right;
      width: auto;
    }
  }
}
.contact-us__content {
  position: absolute;
  width: 266px;
  height: 247px;
  padding: 0 20px;
  top: 145px;
  left: 0;
  font-size: 18px;
  border: 1px solid $main-color;
  span {
    font-size: 24px;
    font-weight: 700;
  }
  i {
    font-style: italic;
    color: $main-color;
  }
  > div {
    margin-top: 25px;
  }
}


/*find-us*/
.find-us {
  padding-top: 60px;
  padding-bottom: 0;
  h2 {
    margin-bottom: 60px;
  }
}
.map {
  height: 460px;
  background-color: $bg-color;
}
.map-info {
  position: absolute;
  width: 488px;
  height: 330px;
  padding: 15px;
  top: 65px;
  left: 0;
  background-color: #fff;
  border: 1px solid $main-color;
  z-index: 5;
  @include box-shadow(5px 8.66px 15px 0 rgba(1, 3, 3, 0.059));
  p {
    margin-bottom: 1px;
  }
  span {
    font-weight: 700;
  }
  .title {
    font-weight: 900;
  }
  i {
    font-style: italic;
  }
  > div {
    margin-bottom: 20px;
  }
}


/*questions*/
.questions {
  padding: 50px 0;
  font-weight: 700;
  h2 {
    margin-bottom: 40px;
  }
  .active {
    &.question-text {
      color: #999;
    }
    &.question-text:before {
      background-position: -438px 14px;
    }
  }
  .answer {
    display: none;
    font-weight: normal;
  }
  .question-text {
    position: relative;
    margin-bottom: 30px;
    font-size: 18px;
    cursor: pointer;
    @include transition(all 0.2s ease-in-out 0s);
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 48px;
      height: 48px;
      margin-top: -24px;
      top: 50%;
      left: 0;
      background: url("../images/sprite.png") no-repeat -374px 14px;
      border: 4px solid $main-color;
      @include border-radius(1px);
    }
    &:hover {
      color: $main-color;
    }
  }
}
.questions__block {
  > div {
    padding-bottom: 20px;
  }
  p {
    padding-left: 80px;
  }
}



/* ----------------------------------------------
Thanks-page
---------------------------------------------- */
.thanks-page {
  .pageheader {
    height: 100%;
    min-height: 550px;
    padding-bottom: 213px;
    margin-bottom: -213px; /* высота футера */
  }
  .page-wrap {
    height: 100%;
  }
  footer {
    position: absolute;
    width: 100%;
    height: 213px;
  }
  .container {
    height: 100%;
  }
  .pageheader__text {
    position: absolute;
    margin-top: 0;
    top: 50%;
    left: 0;
    @include transform(translate(0%, -50%));
  }
}


/* ----------------------------------------------
 Colors Backgrounds
 ---------------------------------------------- */

.bg-white {
  background-color: #fff !important;
}

.pageheader {
  background: url("../images/bg_1.jpg") no-repeat;
  background-size: cover;
}

.structure, .work-with, .order-price-list, .bestsellers, .call-gager, .feedback, .portfolio, .contact-us {
  background-color: $bg-color;
}

.description-bg {
  position: absolute;
  width: 529px;
  max-width: 100% !important;
  height: 548px;
  top: 100px;
  left: 225px;
  background: url("../images/panel_1.png") no-repeat;
}
.structure-bg {
  display: block;
  width: 270px;
  height: 300px;
  background: url("../images/panel_2.png") no-repeat;
}

.structure-text-bg1:after {
  background-position: 0 -64px !important;
}
.structure-text-bg2:after {
  background-position: -64px -64px !important;
}
.structure-text-bg3:after {
  background-position: -128px -64px !important;
}
.structure-text-bg4:after {
  background-position: -192px -64px !important;
}

.privilege-bg {
  position: absolute;
  width: 275px;
  height: 275px;
  top: -25px;
  left: -40px;
  background: url("../images/panel_3.png") no-repeat;
}

.call-gager-bg {
  position: absolute;
  width: 355px;
  height: 401px;
  bottom: 0;
  left: -5px;
  background: url("../images/workman_1.png") no-repeat;
}
.tape-bg {
  position: absolute;
  width: 222px;
  height: 225px;
  top: 115px;
  right: 5px;
  background: url("../images/tape.png") no-repeat;
}
.consultation-bg {
  position: absolute;
  width: 275px;
  height: 350px;
  bottom: 0;
  right: 5px;
  background: url("../images/workman_2.png") no-repeat;
}

.contact-us-bg {
  position: absolute;
  width: 279px;
  height: 289px;
  top: 100px;
  left: -15px;
  background: url("../images/panel_4.png") no-repeat;
}


.icon {
  background: url("../images/sprite.png") no-repeat;
}

.phone-icon {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 5px;
  left: 0;
  background-position: 0 0;
}
.pageheader-form-icon {
  float: right;
  width: 81px;
  height: 62px;
  background-position: -64px 0;
}
.price-list-icon1, .price-list-icon2, .price-list-icon3, .price-list-icon4 {
  width: 49px;
  height: 49px;
  margin: 0;
}
.price-list-icon1 {
  background-position: 0 -128px;
}
.price-list-icon2 {
  background-position: -64px -128px;
}
.price-list-icon3 {
  background-position: -128px -128px;
}
.price-list-icon4 {
  background-position: -192px -128px;
}

.privilege-icon1, .privilege-icon2, .privilege-icon3, .privilege-icon4, .privilege-icon5, .privilege-icon6, .privilege-icon7, .privilege-icon8, .privilege-icon9 {
  width: 48px;
  height: 48px;
  margin: 0 0 15px;
}
.privilege-icon1 {
  background-position: 0 -256px;
}
.privilege-icon2 {
  background-position: -64px -256px;
}
.privilege-icon3 {
  background-position: -128px -256px;
}
.privilege-icon4 {
  background-position: -192px -256px;
}
.privilege-icon5 {
  background-position: -256px -256px;
}
.privilege-icon6 {
  background-position: -320px -256px;
}
.privilege-icon7 {
  background-position: -384px -256px;
}
.privilege-icon8 {
  background-position: -448px -256px;
}
.privilege-icon9 {
  background-position: -512px -256px;
}

.work-scheme-icon1, .work-scheme-icon2, .work-scheme-icon3, .work-scheme-icon4, .work-scheme-icon5, .work-scheme-icon6, .work-scheme-icon7, .work-scheme-icon8, .work-scheme-icon9 {
  height: 28px;
  margin-top: 16px;
}
.work-scheme-icon1 {
  width: 24px;
  background-position: 0 -192px;
}
.work-scheme-icon2 {
  width: 31px;
  background-position: -64px -192px;
}
.work-scheme-icon3 {
  width: 28px;
  background-position: -128px -192px;
}
.work-scheme-icon4 {
  width: 22px;
  background-position: -192px -192px;
}
.work-scheme-icon5 {
  width: 30px;
  background-position: -256px -192px;
}
.work-scheme-icon6 {
  width: 25px;
  background-position: -320px -192px;
}
.work-scheme-icon7 {
  width: 36px;
  background-position: -384px -192px;
}
.work-scheme-icon8 {
  width: 31px;
  background-position: -448px -192px;
}
.work-scheme-icon9 {
  width: 25px;
  background-position: -512px -192px;
}

.feedback-icon {
  width: 25px;
  height: 20px;
  margin: 15px auto;
  background-position: -256px 0;
}

.consultation-icon1, .consultation-icon2, .consultation-icon3 {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 15px;
}
.consultation-icon1 {
  background-position: -256px -128px;
}
.consultation-icon2 {
  background-position: -320px -128px;
}
.consultation-icon3 {
  background-position: -384px -128px;
}

.compare-table-icon {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 34px;
  left: 20px;
  background-color: $request-color;
  background-position: -180px 10px;
  @include border-radius(50%);
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 27px;
    top: 11px;
    left: -32px;
    background-color: $request-color;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 38px;
    left: -32px;
    border: 6px solid #6b0b0b;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}

.hover-img-icon {
  position: absolute;
  width: 48px;
  height: 48px;
  margin-top: -24px;
  margin-left: -24px;
  top: 50%;
  left: 50%;
  background-position: -320px 0;
}



/* ----------------------------------------------
Pop up
---------------------------------------------- */

.pop-up-bg {
  position: fixed;
  display: none;
  width:100%;
  min-height:100%;
  height: 100%;
  top:0;
  background-color: rgba(0,0,0,0.7);
  overflow:hidden;
  z-index: 99;
  .order-form {
    position: fixed;
    display: none;
    margin-top: -195px;
    margin-left: -169px;
    top: 50%;
    left: 50%;
    text-align: center;
    h3 {
      font-size: 30px;
      font-weight: 900;
      line-height: 30px;
    }
  }
  form {
    padding-top: 15px;
    font-size: 24px;
    .submit {
      font-size: 18px;
    }
  }
  .form__block {
    margin-top: 10px;
    text-align: left;
  }
}
.close {
  position: absolute;
  top: -27px;
  right: -27px;
  a {
    width: 26px;
    height: 26px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #4c4c4c;
    line-height: 24px;
    text-align: center;
    background-color: $request-color;
    @include border-radius(50%);
    &:hover {
      background-color: #ff3737;
    }
  }
}

.privacy-policy {
  width: 100%;
  padding: 0 40px;
  font-size: 14px;
  h2 {
    padding: 20px 0;
    margin: 0 -40px;
    font-size: 24px;
    background-color: $bg-color;
  }
  > div {
    padding: 20px 40px;
    border: 1px solid $main-color;
    border-top: none;
  }
}
.order-thermopanel {
  height: auto;
}

/* ----------------------------------------------
 JS
 ---------------------------------------------- */
/*Fixed menu*/
.js-top-fixed {
  position: fixed;
  top: 0;
  z-index: 50;
}

/*Scroll Up Btn*/
#scrollUp {
  position: fixed;
  width: 44px;
  height: 36px;
  background-color: $btn-color;
  @include border-radius(5px);
  right: 10px;
  bottom: -40px;
  display: none;
  @include transition(background-color 0.2s ease-in-out);
  cursor: pointer;
  z-index: 20;
  &:hover {
    background: $hover-menu;
  }
  .upButton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -4px;
    opacity: 1;
    display: block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    @include transform(rotate(45deg));
  }
}

/*Fancybox*/
.order-form.fancybox-margin {
   margin-right: 0 !important;
}

/* ----------------------------------------------
 Animation
 ---------------------------------------------- */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.animated.zoomIn {
  @include animation-name(zoomIn);
}

.delay-01 {
  @include animation-delay(0.1s);
}
.delay-03 {
  @include animation-delay(0.3s);
}
.delay-05 {
  @include animation-delay(0.5s);
}
.delay-07 {
  @include animation-delay(0.7s);
}
.delay-09 {
  @include animation-delay(0.9s);
}
.delay-11 {
  @include animation-delay(1.1s);
}
.delay-13 {
  @include animation-delay(1.3s);
}
.delay-15 {
  @include animation-delay(1.5s);
}
.delay-17 {
  @include animation-delay(1.7s);
}


/* ----------------------------------------------
Placeholder
---------------------------------------------- */

::-webkit-input-placeholder {
  color: $placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
  color: $placeholder-color;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $placeholder-color;
}

:-ms-input-placeholder {
  color: $placeholder-color;
}

.form-success {
  border-color: green;
}
.form-fail {
  border-color: red;
}


.form-fail::-webkit-input-placeholder {
  font-family: $roboto;
  color: $placeholder-color;
}

.form-fail:-moz-placeholder { /* Firefox 18- */
  font-family: $roboto;
  color: $placeholder-color;
}

.form-fail::-moz-placeholder {  /* Firefox 19+ */
  font-family: $roboto;
  color: $placeholder-color;
}

.form-fail:-ms-input-placeholder {
  font-family: $roboto;
  color: $placeholder-color;
}



/* ----------------------------------------------
 Media
 ---------------------------------------------- */

/* Large devices */

/* Medium devices */
@media (max-width:1199px) {
  .container {
    width: 970px;
  }
  .top-menu {
    .container {
      padding: 0;
    }
    nav {
      margin-left: 0;
    }
    a {
      padding: 8px 9.5px;
    }
  }
  .description-bg {
    width: 490px;
  }
  .description__block {
    .block-11, .block-15 {
      left: 705px;
    }
    .block-12, .block-14 {
      left: 725px;
    }
    .block-13 {
      left: 745px;
    }
  }
  .structure-text {
    .marker-1 {
      left: -200px;
    }
    .marker-2 {
      left: -254px;
    }
    .marker-3 {
      left: -207px;
    }
    .marker-4 {
      left: -228px;
    }
  }
  .structure__table .cell-1 {
    width: 565px;
  }
  .model-3, .model-5 {
    left: 750px;
  }
  .privilege-bg {
    left: -20px;
  }
  .call-gager__title {
    width: 580px;
    padding-left: 250px;
  }
  .visualization {
    min-height: 0;
  }
  .form__block-time p {
    padding: 0;
  }
  .time-block input {
    width: 60px;
    padding-left: 10px;
  }
  .compare__table {
    .column-1 {
      width: 230px;
    }
    .column-2,.column-3 {
      width: 360px;
    }
  }
  .installation__block .side-panel {
    width: 230px;
  }
  .model-1 .model-marker {
    width: 195px;
  }
  .model-2 .model-marker {
    width: 210px;
    left: 10px;
  }
  .model-3 .model-marker {
    width: 193px;
  }
  .model-4 .model-marker {
    width: 330px;
  }
  .model-5 .model-marker {
    width: 440px;
  }
}

/* Small devices */
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
  header span {
    font-size: 18px;
  }
  .top-menu{
    .desctop-nav {
      display: none;
    }
    .mobile-nav {
      visibility: visible;
    }
  }
  .description {
    font-size: 12px;
    h5 {
      font-size: 13px;
    }
  }
  .description__block {
    height: 660px;
    br {
      display: none;
    }
    > div {
      max-width: 200px;
    }
    .block-1 {
      top: 25px;
    }
    .block-2, .block-11 {
      top: 110px;
    }
    .block-3, .block-12 {
      top: 205px;
    }
    .block-4 {
      top: 320px;
    }
    .block-5 {
      top: 435px;
    }
    .block-6, .block-7, .block-8 {
      left: 235px;
    }
    .block-7 {
      top: 380px;
    }
    .block-8 {
      top: 445px;
    }
    .block-9 {
      left: 450px;
    }
    .block-10 {
      top: 510px;
      left: 340px;
    }
    .block-11 {
      left: 540px;
    }
    .block-12, .block-14, .block-15 {
      left: 550px;
    }
    .block-13 {
      top: 285px;
      left: 560px;
    }
    .block-14 {
      top: 380px;
    }
    .block-15 {
      top: 480px;
    }
  }
  .description-bg {
    width: 310px;
    height: 330px;
    background-size: contain;
  }
  .structure__table {
    .cell-1 {
      width: 445px;
    }
    .cell-2 {
      width: 245px;
    }
  }
  .structure-text {
    padding-left: 70px;
    .marker-1 {
      width: 131px;
      left: -140px;
    }
    .marker-2 {
      width: 150px;
      left: -180px;
    }
    .marker-3 {
      width: 95px;
      left: -127px;
    }
    .marker-4 {
      width: 90px;
      left: -147px;
    }
  }
  .model h2 {
    margin-bottom: 50px;
  }
  .model-1 {
    top: 0;
    img {
      max-width: 100px;
    }
  }
  .model-2 {
    left: 250px;
    img {
      max-width: 200px;
    }
  }
  .model-3 {
    top: 0;
    left: 550px;
    img {
      max-width: 120px;
    }
  }
  .model-4 {
    top: 500px;
    left: 110px;
    img {
      max-width: 160px;
    }
  }
  .model-5 {
    top: 500px;
    left: 450px;
    img {
      max-width: 140px;
    }
  }
  .price-list__block .catalog {
    top: -30px;
    right: -10px;
  }
  .order-price-list {
    .form__block {
      width: 50%;
      padding: 0 20px;
    }
    .submit {
      float: none;
      width: 100%;
      margin: 10px auto;
    }
    .form > p {
      text-align: center;
    }
  }
  .privilege h2 {
    margin-bottom: 20px;
  }
  .privilege__content {
    padding-left: 0;
  }
  .privilege-bg {
    position: static;
    margin-bottom: 20px;
  }
  .bestsellers__block > div {
    padding: 0 10px;
  }
  .work-scheme__block > div {
    padding: 0 10px;
  }
  .call-gager__title {
    width: 510px;
    padding-left: 180px;
  }
  .tape-bg {
    top: -70px;
    right: -230px;
  }
  .order-consultation {
    .submit {
      float: right;
      margin-right: 30px;
    }
    .form__block-time {
      padding-left: 60px;
      p {
        padding-left: 10px;
      }
    }
  }
  .time-block input {
    width: 72px;
    padding-left: 15px;
  }
  .compare__table {
    .column-1 {
      display: none;
    }
    .column-2, .column-3 {
      width: 50%;
    }
  }
  .portfolio {
    min-height: 100%;
  }
  .installation__block .side-panel {
    width: 170px;
    margin-top: 100px;
  }
  .installation__table {
    width: 390px;
  }
  .contact-us__block > div {
    width: 50%;
  }
  .contact-us-bg {
    display: none;
  }
  .map-info {
    position: static;
    margin-bottom: 30px;
  }
  footer {
    .logo {
      padding-right: 10px;
    }
  }
  .model-1 .model-marker {
    width: 170px;
    height: 150px;
    bottom: -154px;
    &:before {
      width: 70px;
      right: -70px;
    }
    &:after {
      right: -80px;
    }
    span {
      width: auto;
      height: 140px;
      right: -2px;
      border-left: 2px solid #fff;
    }
  }
  .model-2 {
    left: 280px;
    .model-marker {
      width: 190px;
      height: 69px;
      bottom: -73px;
    }
  }
  .model-3 .model-marker {
    width: 215px;
    height: 6px;
    right: 0;
    bottom: -9px;
    border: 2px solid $main-color;
    border-right: none;
    border-bottom: none;
    &:before {
      width: auto;
      height: 85px;
      left: -2px;
      bottom: -87px;
      border-left: 2px solid #fff;
    }
    &:after {
      bottom: -100px;
      left: -6px;
      border-left: 5px solid transparent;
      border-top: 20px solid #fff;
      border-right: 5px solid transparent;
    }
  }
  .model-4 .model-marker {
    width: 160px;
    height: 175px;
    &:before {
      height: 85px;
      bottom: 174px;
    }
    &:after {
      bottom: 253px;
      right: 0;
      border-top: 5px solid transparent;
      border-right: 20px solid #fff;
      border-bottom: 5px solid transparent;
    }
  }
  .model-5 .model-marker {
    width: 220px;
    height: 175px;
    &:before {
      bottom: 173px;
    }
    &:after {
      bottom: 184px;
    }
  }
  .thanks-page {
    footer {
      height: 250px;
    }
    .pageheader {
      min-height: 590px;
      padding-bottom: 250px;
      margin-bottom: -250px;
    }
  }
}

/* Extra small devices */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .header__contacts {
    display: none;
  }
  .pageheader__text {
    margin-top: 135px;
  }
  .description__block {
    height: auto;
    > div {
      position: static;
      width: 100%;
      max-width: 400px;
      margin-bottom: 10px;
    }
    .description-bg {
      width: 310px;
    }
  }
  .structure__block > div {
    float: none;
    width: 100%;
  }
  .structure-text {
    padding-left: 10px;
    > div {
      max-width: 400px;
    }
    p {
      max-width: 290px;
    }
    .marker {
      display: none;
    }
  }
  .structure__table {
    max-width: 700px;
    font-size: 12px;
    .table-line {
      padding: 10px 0;
      line-height: 20px;
    }
    .cell-1 {
      width: 62%;
    }
    .cell-2 {
      width: 38%;
      padding-left: 10px;
    }
  }
  .model__block {
    > div {
      position: static;
      float: left;
    }
    > img {
      max-width: 100%;
      margin: 25px auto;
    }
  }
  .model-1, .model-3 {
    width: 50%;
  }
  .model-2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .model-4, .model-5 {
    width: 50%;
  }
  .work-with__block > div:first-child div {
    width: 50%;
    min-height: 54px;
  }
  .work-with__block img {
    max-width: 80%;
  }
  .price-list {
    h2, h4 {
      text-align: center;
    }
  }
  .price-list__block {
    .catalog {
      position: static;
    }
    > p {
      width: 300px;
    }
  }
  .price-list__content {
    margin: 15px auto;
  }
  .order-price-list .form__block {
    float: none;
    width: 100%;
    padding: 0 40px;
  }
  .privilege__content > div {
    padding-left: 10px;
  }
  .bestsellers__block > div {
    width: 50%;
  }
  .work-scheme__block {
    font-size: 14px;
  }
  .call-gager {
    padding: 40px 0;
    h2, h4 {
      text-align: center;
    }
    .order-form {
      float: none;
      width: 100%;
      max-width: 340px;
    }
  }
  .call-gager__title {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0 0 40px;
  }
  .call-gager-bg, .tape-bg, .consultation-bg {
    display: none;
  }
  .order-consultation {
    .submit {
      float: none;
      margin: 0 auto 10px;
    }
    .form__block-time {
      width: 260px !important;
      padding: 0 !important;
      margin: 0 auto 10px;
    }
  }
  .compare__table {
    img {
      max-width: 130px;
      margin-top: 5px;
    }
    .column-3 .column-name {
      text-align: center;
      > div {
        margin-bottom: 5px;
      }
      img {
        position: static;
      }
    }
  }
  .compare-table-icon{
    top: 44px;
    left: 2px;
    &:before {
      width: 20px;
      left: -14px;
    }
    &:after {
      left: -14px;
    }
  }
  .installation__block .side-panel {
    width: 100%;
    margin-top: 0;
    text-align: center;
    img {
      width: 33%;
    }
  }
  .installation__table {
    width: 100%;
  }
  .contact-us {
    padding-bottom: 40px;
    h2 {
      display: block;
      text-align: center;
    }
    .order-form {
      margin-top: 20px;
    }
  }
  .contact-us__block > div {
    width: 100%;
    &:first-child {
      min-height: 380px;
    }
    &:last-child {
      width: 100%;
    }
  }
  .contact-us__content {
    position: static;
    margin-top: 30px;
  }
  .map-info {
    width: 100%;
    max-width: 488px;
    height: auto;
  }
  footer {
    .logo > a {
      display: none;
    }
    .develop {
      margin-top: 0;
    }
  }
  .footer__contacts {
    width: 60%;
    margin: 0;
    padding-top: 30px;
    padding-right: 10px;
    font-size: 14px;
    p:last-child {
      margin-top: 10px;
      text-align: left;
    }
    a {
      white-space: nowrap;
    }
  }
  .model-marker {
    display: none;
  }
  .thanks-page {
    footer {
      height: 300px;
    }
    .pageheader {
      min-height: 660px;
      padding-bottom: 300px;
      margin-bottom: -300px;
    }
  }
  /* swich-off animation */
  .animated.zoomIn {
    @include animation-name(none);
  }
}

@media (max-width: 439px) {
  header span {
    font-size: 16px;
  }
  .logo {
    width: 150px;
    font-size: 23px;
    line-height: 16px;
    span {
      font-size: 12px;
    }
  }
  .logo-title {
    font-size: 30px;
  }
  .order-call {
    width: 140px;
    p:first-child {
      font-size: 12px;
    }
    .phone-icon {
      display: none;
    }
    .order-call-btn {
      width: 100%;
    }
  }
  .pageheader .order-form {
    width: 100%;
    margin-right: 0;
  }
  .pageheader-form-icon {
    margin: 0 -10px;
  }
  .form__block {
    width: 100%;
    margin: 20px 0 15px;
  }
  .order-price-list {
    .form__block {
      width: 100%;
      padding: 0 20px;
    }
    .submit {
      width: 90%;
    }
    .form > p {
      line-height: 16px;
    }
  }
  .privilege__content > div {
    width: 49%;
  }
  .bestsellers__block > div {
    width: 100%;
  }
  .work-scheme__block > div {
    width: 50%;
  }
  .order-3D p.order-3D-text {
    line-height: 20px;
  }
  .compare__table {
    .column-2, .column-3 {
      width: 100%;
    }
    .column-3 {
      border-left: 2px solid #765936;
    }
  }
  .installation__table {
    padding: 0 10px 20px;
    font-size: 14px;
  }
  .contact-us {
    .order-form {
      width: 100%;
      max-width: 340px;
      height: auto;
    }
    .form__block {
      margin: 0 0 5px;
      padding: 15px 0;
    }
  }
  .questions__block p {
    padding-left: 70px;
  }
  footer {
    span {
      font-size: 16px;
    }
    .logo {
      width: 100%;
      margin-bottom: 20px;
    }
    .develop {
      margin-top: 0;
    }
  }
  .footer__contacts {
    width: 50%;
  }
  .thanks-page {
    footer {
      height: 330px;
    }
    .pageheader {
      min-height: 730px;
      padding-bottom: 330px;
      margin-bottom: -330px;
    }
  }
}